@import "styles/colors.scss";
body > ux-dialog-container.congratulations {
  top: 50%;
  right: unset;
  bottom: unset;
  left: 50%;
  transform: translate(-50%, -50%);

  ux-dialog {
    ux-dialog-header {
      font-family: Inter;
      font-weight: 800;
      font-size: 24px;
      line-height: 33px;
      padding: 40px;
      padding-bottom: 4px;
    }

    ux-dialog-body {
      border-top-width: 0;
      padding: 0 40px;
      font-family: Inter;
      font-size: 16px;
      line-height: 32px;
    }

    ux-dialog-footer {
      border-top-width: 0;
      padding-top: 12px;
      padding-bottom: 16px;
      .button1 {
        &.small {
          width: 98px;
        }
      }
    }
  }
}
