@import "styles/colors.scss";

.scrollerContainer {
  display: inline-grid; // to make this have 100% width while still supporting scrolling
  position: relative; // for positioning the scroll buttons

  .scroller {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }

    > div {
      flex: 0 0 auto;
    }
  }

  .leftButton,
  .rightButton {
    background-color: $color-darkblue;
    opacity: 0.8;
    border-radius: 26px;
    cursor: pointer;
    color: $color-white;
    font-size: 22.5px;
    text-decoration: none;
    width: 32px;
    height: 32px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    &.hide {
      display: none;
    }
  }

  .leftButton:hover,
  .rightButton:hover {
    background-color: $color-lightblue;
  }

  .leftButton {
    right: 0;
  }
}
