@import "styles/colors.scss";

.projectTokenInfo {
  display: flex;
  justify-content: space-between;

  .column {
    flex: 1;
  }

  &Logo {
    margin: 0;
    display: flex;
    align-items: center;
  }

  &Image {
    width: 36px;
    border-radius: 50%;
    border: 1px solid #2a2a2a;
    margin-right: 9px;
  }

  &Details {
    display: flex;
    margin-bottom: 8px;
  }

  &Name {
    font-size: 24px;
    font-weight: 700;
    margin-right: 10px;
  }

  abbr[title],
  &Abbr {
    font-size: 24px;
    text-decoration: none;
  }

  &Ticker {
    margin-left: 45px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-right: 5px;
    }

    &Live {
      color: $AlertGreen;
      &::before {
        background: $AlertGreen;
      }
    }
    &Defunct {
      color: $AlertRed;
      &::before {
        background: $AlertRed;
      }
    }
  }

  &Price {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &PriceValue {
    font-size: 24px;
    font-family: Inter;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 5px;
      margin-right: 7px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    &Increased {
      &:before {
        background: $AlertGreen;
      }
    }
    &Decreased {
      &:before {
        background: $AlertRed;
        clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
      }
    }
  }

  &PriceChange {
  }
}
