@import "styles/colors.scss";

.projectTokenInfo {
  display: flex;
  justify-content: space-between;

  .column {
    flex: 1;
  }

  &Logo {
    margin: 0;
    display: flex;
    align-items: center;
  }

  &Image {
    width: 36px;
    border-radius: 50%;
    border: 1px solid #2a2a2a;
    margin-right: 9px;
  }

  &Details {
    display: flex;
    margin-bottom: 8px;
  }

  &Name {
    font-size: 24px;
    font-weight: 700;
    margin-right: 10px;
  }

  abbr[title],
  &Abbr {
    font-size: 24px;
    text-decoration: none;
  }

  &Ticker {
    margin-left: 45px;
    text-transform: uppercase;
    font-weight: 700;
    displaY:flex;
    align-items: center;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-right: 5px;
    }

    &Live {
      color: $AlertGreen;
      &::before {
        background: $AlertGreen;
      }
    }
    &Defunct {
      color: $AlertRed;
      &::before {
        background: $AlertRed;
      }
    }
  }
}
