@import "styles/styles.scss";

.projectTokenInfo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "logo details priceValue"
    ". timeLeft priceChange";
  column-gap: 20px;
  row-gap: 3px;
  justify-content: left;
  align-items: center;
  .logo {
    grid-area: logo;
    @include tokenIcon;
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }

  .details {
    grid-area: details;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 6px;
    justify-content: start;
  }

  .priceValue {
    grid-area: priceValue;
    font-size: 24px;
    font-family: Inter;
    // display: flex;
    // align-items: center;

    // &::before {
    //   content: "";
    //   display: inline-block;
    //   width: 10px;
    //   height: 5px;
    //   margin-right: 7px;
    //   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    // }

    &.increased .caret {
      color: $AlertGreen;
    }

    &.decreased .caret {
      color: $AlertRed;
    }
  }

  .timeleft {
    grid-area: timeLeft;
    // margin-left: 45px;
    // text-transform: uppercase;
    // font-weight: 700;
    // display: flex;
    // align-items: center;
  }

  // .price {
  //   display: flex;
  //   flex-direction: column;
  //   text-align: right;
  // }

  .priceChange {
    grid-area: priceChange;
    font-size: 14px;
    line-height: 1.9;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 4px;
    // justify-content: flex-end;
    &.increased {
      color: $AlertGreen;
    }
    &.decreased {
      color: $AlertRed;
    }

    .sign {
    }

    .amountChanged {
    }

    .percentCHanged {
    }
  }
}

@media screen and (max-width: 550px) {
  .projectTokenInfo {
    grid-template-columns: auto;
    grid-template-areas:
      "logo"
      "details"
      "priceValue"
      "priceChange"
      "timeLeft";
    row-gap: 3px;
    justify-items: center;
  }
}
