@import "styles/colors.scss";
.timeLeftContainer {
  .timeLeft,
  .active {
    font-size: 12px;
    font-family: Inter;
    align-self: center;
    white-space: nowrap;

    > .icon {
      margin-right: 6px;
    }
  }

  .timeLeft {
    &.soon {
      color: $AlertRed;
    }

    &.comingUp {
      color: $AlertOrange;
    }

    &.farOff {
      color: $White;
    }
  }

  .active {
    color: $AlertGreen;

    > .icon {
      display: inline-block;
      font-size: 0.5em;
      margin-right: 0.7em;
      position: relative;
      bottom: 0.3em;
    }
  }

  &.contained {
    .timeLeft,
    .active {
      border-radius: 87px;
      padding: 2px 9px;
    }

    .timeLeft {
      &.soon {
        background-color: $CountdownStateSoon;
      }

      &.comingUp {
        background-color: $CountdownStateComingup;
      }

      &.farOff {
        background-color: $CountdownStateFaroff;
      }
    }

    .active {
      background-color: $CountdownStateLive;
    }
  }
}
