@import "styles/colors.scss";
.timeLeftContainer {
  > div {
    font-size: 12px;
    font-family: Inter;
    align-self: center;
    white-space: nowrap;

    > .icon {
      margin-right: 6px;
    }

    &.timeLeft {
      &.soon {
        color: $AlertRed;
      }

      &.comingUp {
        color: $AlertOrange;
      }

      &.farOff {
        color: $White;
      }
    }

    &.live {
      color: $AlertGreen;
    }

    &.complete {
      color: #18bab0;
    }

    &.incomplete {
      color: #da6511;
    }

    &.uninitialized {
      color: #717171;
    }

    &.paused {
      color: #ff52cf;
    }

    &.closed {
      color: #848484;
    }

    &.live,
    &.complete,
    &.incomplete,
    &.paused,
    &.closed,
    &.uninitialized {
      > .icon {
        display: inline-block;
        font-size: 0.5em;
        margin-right: 0.7em;
        position: relative;
        bottom: 0.3em;
      }
    }
  }

  &.contained {
    > div {
      border-radius: 87px;
      padding: 2px 9px;

      &.timeLeft {
        &.soon {
          background-color: $CountdownStateSoon;
        }

        &.comingUp {
          background-color: $CountdownStateComingup;
        }

        &.farOff {
          background-color: $CountdownStateFaroff;
        }
      }

      &.live {
        background-color: $CountdownStateLive;
      }

      &.complete {
        background-color: #2b3239;
      }

      &.incomplete {
        background-color: #3e2c27;
      }

      &.uninitialized {
        background-color: #000000;
      }

      &.paused {
        background-color: #38263e;
      }

      &.closed {
        background-color: #2d3131;
      }
    }
  }
}
