@import "styles/colors.scss";
.circledNumber {
  border-radius: 50%;
  text-align: center;
  background-color: $Neutral02;
  min-width: 2.6em;
  height: 2.5em;
  &.active {
    background-color: $Secondary02;
  }
  > .value {
    color: $BG01;
    font-family: Inter;
    font-weight: 900;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
