@import "styles/colors.scss";
.circledNumber {
  border-radius: 50%;
  text-align: center;
  background-color: $color-light-purple;
  width: 2em;
  height: 2em;

  > .value {
    color: $color-black;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
