@import "styles/colors.scss";
.circledNumber {
  border-radius: 50%;
  text-align: center;
  background-color: #98979b;
  width: 2.5em;
  height: 2.5em;
  &.active {
    background-color: $color-light-purple;
  }
  > .value {
    color: $color-black;
    font-family: Inter;
    font-weight: 900;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
