<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Prime Launch</title>
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1"
    content="A decentralized autonomous organization and ecosystem for the adoption of decentralized, open finance.">
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="./base.css">
  <script src="https://kit.fontawesome.com/bf98881e0a.js" crossorigin="anonymous"></script>
  <style>
    /* these are here so webpack will pick up the fonts */
    @font-face {
      font-family: "Inter";
      src: url("./Inter-Light.ttf");
      font-weight: 300;
    }

    @font-face {
      font-family: "Inter";
      src: url("./Inter-Regular.ttf");
      font-weight: 400;
    }

    @font-face {
      font-family: "Inter";
      src: url("./Inter-Medium.ttf");
      font-weight: 500;
    }

    @font-face {
      font-family: "Inter";
      src: url("./Inter-SemiBold.ttf");
      font-weight: 600;
    }

    @font-face {
      font-family: "Inter";
      src: url("./Inter-Bold.ttf");
      font-weight: 700;
    }

    @font-face {
      font-family: "Inter";
      src: url("./Inter-ExtraBold.ttf");
      font-weight: 800;
    }

    @font-face {
      font-family: "Aeonik";
      src: url("./Aeonik-Regular.otf");
    }

    @font-face {
      font-family: "Aeonik";
      src: url("./Aeonik-Bold.otf");
      font-weight: 600;
    }

    .page.home>.banner {
      background: url("/210125_CURVE_PD_APP_BANNER_V01-1.jpg") no-repeat center center;
      background-size: cover;
    }
  </style>
</head>

<body aurelia-app="main" class="loading">

  <!-- <body class="loading"> -->
  <div class="initialLoading preload">
    <img src="/PD_Logo-Loop.gif">
    <div class="body">Thanks for your patience while we fetch Prime Launch!</div>
  </div>

  <!-- <div class="temporarilyDown preload">
    <img src="/primeLaunchLogo-color.svg">
    <div class="body">Sorry, Prime Launch is experiencing a technical issue.</div>
    <div class="body body2">Thanks for your patience as we work hard to resolve it!</div>
    <div class="body body2">Please feel free to make enquiries and receive updates by clicking Visit Support.</div>
    <button><a src="https://primedao.typeform.com/PrimeLaunchSup" target="_blank" rel="noopener noreferrer">VISIT SUPPORT</a></button>
  </div> -->

</body>

</html>
