// @import "styles/colors.scss";

// .stakingContainer {
//   padding-top: 40px;
//   padding-bottom: 40px;
//   margin: auto;
//   max-width: 400px;
//   height: calc(100vh - 220px);
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   .innerContainer {
//     display: flex;
//     flex-direction: column;

//     .header {
//       margin-bottom: 20px;

//       .triangle {
//         transform: translateY(-13px);
//       }

//       .title {
//         position: relative; // for triangle z-index to work
//       }
//     }

//     .form {
//       margin-bottom: 20px;
//       text-align: center;

//       > div:not(:last-child) {
//         margin-bottom: 16px;
//       }

//       .balance {
//         margin-bottom: 12px;
//       }

//       input {
//         width: 90px;
//         text-align: right;
//       }
//     }

//     .secondRow {
//       text-align: center;
//       margin-bottom: 20px;

//       button {
//         width: 100%;
//       }
//     }

//     .thirdRow {
//       text-align: center;

//       &.back img {
//         margin-right: 6px;
//         width: 16px;
//         position: relative;
//         top: 2px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 800px) {
//   .stakingContainer {
//     .innerContainer {
//       .header {
//         margin: auto;
//       }
//     }
//   }
// }
