@import "styles/colors.scss";
@import "styles/styles";

.page.selectPackage {
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  // TODO: em or px
  gap: 30px;

  .banner {
    text-align: center;
  }

  .packages {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 350px));
    // TODO: em or px
    gap: 20px;
  }

  .packageContainer {
    background-color: $color-black-2;
    border-radius: 15px;
    // Don't overflow width
    // Try to make divs same height
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    > div {
      // Make these divs have paddings to align contents
      // TODO:
      padding-left: 20px;
      padding-right: 40px;
      font-size: 20px;
    }
    .topSection {
      padding-top: 10px;
      padding-bottom: 40px;
      line-height: 1.3em;
      .benefitsContainer {
        text-align: left;
        text-orientation: sideways-right;
        padding-left: 1.2em;
        padding-right: 1.2em;
        padding-top: 1em;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: row wrap;
      align-items: center;
      justify-content: space-between;
    }
    // .buttonContainer {
    //   // TODO: Need params from figma and adjust global styles
    //   //   @extend .button1;
    //   text-align: center;
    //   padding: 13px 28px;
    //   background-color: #2e5aff;
    //   font-size: 0.7em;
    //   border-radius: 20px;
    //   // TODO: Colors need to be updated in global style
    //   &:hover {
    //     cursor: pointer;
    //   }
    // }
    a {
      font-size: 0.8em;
      text-decoration: underline;
      text-decoration-color: #2e5aff;
      text-decoration-thickness: 0.2em;
    }
    .packageFooter {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      justify-content: center;
      row-gap: 10px;
      .discount {
        text-align: center;
      }
      a {
        text-align: center;
      }
    }
    .learnMore {
      text-align: center;
    }
  }
}
