@import "styles/colors.scss";

.page.selectPackage {
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  gap: 30px;

  .launchBG {
    position: absolute;
    right: 0;
    z-index: -1;
    object-fit: cover;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: $BG01;
  }

  .packages {
    display: grid;
    justify-content: center;
  }

  & .subtext {
    font-size: 18px;
    max-width: 615px;
    text-align: center;
    color: $Neutral03;
    font-family: Inter;
  }

  .packageContainer {
    background-color: $BG02;
    border-radius: 25px;
    max-width: 360px;
    padding: 20px 30px;
    .topSection {
      margin-bottom: 58px;
      .heading3 {
        font-size: 36px;
        line-height: 60px;
      }
      .subtext {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 47px;
      }
      .benefitsContainer {
        text-align: left;
        text-orientation: sideways-right;
        padding-left: 42px;
        line-height: 24px;
        .benefit {
          display: grid;
          grid-template-columns: .1fr 1fr;
          gap: 14px;
          font-family: Inter;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 11px;
          .check, .noCheck {
            display: grid;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 3px;
            color: $Black;
          }
          .check {
            background-color: $AlertGreen;
          }
          .noCheck {
            background-color: $AlertOrange;
          }
          .benefit-header {
            line-height: 25px;
          }
          .benefit-description {
            font-size: 14px;
            line-height: 20px;
            color: $Neutral02;
          }
        }
      }
    }
    .packageFooter {
      display: grid;
      grid-template-rows: 48px 55px 17px;
      justify-content: center;
      row-gap: 10px;
      font-family: Inter;
      .discount {
        text-align: center;
        font-size: 28px;
        line-height: 24px;
        font-weight: bold;
        .subtext {
          font-size: 14px;
          color: $Neutral02;
        }
      }
    }
    .learnMore {
      text-align: center;
      font-size: 14px;
      a {
        color: $Neutral02;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .page.page.selectPackage .banner > .heading.heading1 {
    white-space: normal;
    text-align: center;
    line-height: 50px;
  }
}
