@import "styles/colors.scss";
.launchSummaryContainer {
  .launchSummary {
    display: grid;
    grid-template-columns: 46px 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "icon . timeLeft"
      "icon title timeLeft"
      "icon description description"
      "tokensTarget tokensTarget tokensTarget";
    gap: 12px;
    cursor: pointer;
    background-color: $BG02;
    border-radius: 6px;
    padding: 10px;

    > .icon {
      > img {
        width: 3rem;
        height: 3rem;
        border-radius: 12px;
      }
      grid-area: icon;
      padding-top: 5px;
    }

    > .title {
      grid-area: title;
      font-weight: bold;
      font-size: 22px;
    }

    > .description {
      grid-area: description;
      font-family: Inter;
      font-size: 12px;
      line-height: 140%;
      color: $Neutral03;
      margin-bottom: 2em;
    }

    > .timeLeft {
      grid-area: timeLeft;
      height: fit-content;
      background: rgba(255, 73, 122, 0.1);
      border-radius: 87px;
      padding: 3px;
      color: #ff497a;
      text-align: right;
    }

    .tokensTarget {
      grid-area: tokensTarget;
      display: flex;
      gap: 3em;

      .pair,
      .target {
        .title {
          font-size: 0.8em;
          font-family: "Aeonik";
          font-weight: bold;
          margin-bottom: 8px;
        }
      }

      .seedTarget {
        font-family: "Aeonik";
        font-weight: bold;
        font-size: 1.5em;
      }
    }
  }
  .loading {
    text-align: center;
    padding-top: 32px;
    i {
      color: $Secondary07;
    }
  }

  &.hot {
    cursor: pointer;
  }
}
