@import "styles/colors.scss";
.launchSummaryContainer {
  .launchSummary {
    display: grid;
    grid-template-columns: 28px 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "icon title timeLeft"
      "icon description description"
      "icon tokensTarget tokensTarget";
    row-gap: 12px;
    cursor: pointer;

    > .icon {
      grid-area: icon;
      padding-top: 5px;
    }

    > .title {
      grid-area: title;
      font-weight: bold;
      font-size: 22px;
    }

    > .description {
      grid-area: description;
      color: $color-grey-2;
    }

    > .timeLeft {
      grid-area: timeLeft;
      text-align: right;
    }

    .tokensTarget {
      grid-area: tokensTarget;
      display: flex;
      justify-content: space-between;

      .pair,
      .target {
        .title {
          font-size: 0.8em;
          margin-bottom: 8px;
        }
      }
    }
  }
  .loading {
    text-align: center;
    i {
      color: $color-lightblue;
    }
  }
}
