@import "styles/colors.scss";
.poolContainer {
  a {
    color: $color-black;
  }

  .topRow {
    display: flex;
    margin-bottom: 32px;

    .icon {
      flex-shrink: 2;
      width: 96px;
      padding-right: 36px;
    }

    .nameAndStuff {
      flex-grow: 2;
      .name {
        font-size: 52px;
        line-height: 56px;
        font-family: "Cera Pro";
      }
      .stuff {
        display: flex;
        align-items: center;

        .cap24 {
          margin-right: 16px;
          white-space: nowrap;
          position: relative;
          top: 1px;
          .label {
            display: inline-block;
            margin-right: 8px;
          }
          .poolDataValue {
            display: inline-block;
            color: #5aae2a;
            &.negative {
              color: $color-red;
            }
          }
        }

        .gotoBalancer {
          white-space: nowrap;

          .anchorArrow {
            margin-right: 8px;
            display: inline-block;

            img {
              position: relative;
              top: 3px;
            }
          }

          a {
            color: $color-light-purple;
          }
        }
      }
    }
  }

  .mainBody {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "donutAndStats tabButtons"
      "donutAndStats tabSection";
    column-gap: 40px;
    row-gap: 36px;

    padding: 32px;
    padding-top: 48px;
    border: 2px solid $color-light-purple;
    border-radius: 20px;

    .donutAndStats {
      grid-area: donutAndStats;
      align-self: self-start;
      display: flex;
      flex-direction: column;

      .donut {
        width: 290px;
        margin-bottom: 24px;
      }

      .stats {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        row-gap: 16px;
        justify-content: space-around;

        .label {
          font-size: 15px;
          line-height: 25px;
        }

        .value {
          color: $color-light-purple;
          font-family: "Cera Pro";
          font-size: 18px;
        }
      }
    }

    .tabButtons {
      grid-area: tabButtons;
      display: flex;
      justify-content: space-around;

      a {
        display: inline-flex;
        justify-content: center;
      }

      .button {
        color: $color-black;
      }

      .button:hover,
      .button.active {
        color: $color-white;
        border-color: $color-black;
        background-color: $color-black;
      }
    }

    .tabSection {
      grid-area: tabSection;

      .story,
      .details {
        padding: 32px;
      }

      .story,
      .details,
      .priceTracker {
        border: 1px solid #e6e6e6;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 20px;
      }

      .priceTracker {
        padding-left: 0;
        padding-right: 0;
        height: 300px;

        .spinny {
          font-size: 38px;
          color: $color-lightblue;
          height: 100%;
          position: relative;
          top: calc(50% - 19px);
          left: calc(50% - 19px);
        }
      }

      .story {
        > .heading {
          color: $color-light-purple;
          font-family: "Cera Pro";
          font-size: 18px;
          margin-bottom: 10px;
        }

        .para {
          font-size: 12px;
          a {
            text-decoration: underline;
          }
        }

        .para:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      .details {
        .detail {
          border-bottom: 1px solid #eeeeee;
          padding-bottom: 16px;

          .labelValue {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            font-family: "Cera Pro";
            color: $color-light-purple;

            .value {
              .copy-to-clip-button,
              .copy-to-clip-button:focus {
                color: $button3-color;
              }

              .copy-to-clip-button:hover {
                color: $color-grey-3;
              }

              .link {
                a {
                  color: $color-light-purple;
                }
              }
            }

            .label {
              white-space: nowrap;
              margin-right: 6px;
            }
          }

          .description {
            font-size: 15px;
            line-height: 25px;
            margin-top: 16px;
          }
        }

        .detail:not(:first-child) {
          padding-top: 16px;
        }
      }

      .liquidityButtons {
        grid-area: liquidityButtons;
        display: flex;
        justify-content: space-around;

        .button {
          color: $color-black;
          border-color: $button3-color;
        }

        .button:hover:not(:disabled) {
          color: $color-white;
          border-color: $color-black;
        }
      }
    }
  }
}

@media screen and (max-width: 1275px) {
  .poolContainer {
    .mainBody {
      .tabButtons {
        flex-direction: column;
        text-align: center;
      }

      a:not(:last-child) {
        margin-bottom: 12px;
      }

      .tabSection {
        .details {
          .detail {
            .labelValue {
              flex-direction: column-reverse;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {
  .poolContainer {
    .mainBody {
      .tabSection {
        .liquidityButtons {
          flex-direction: column;
          text-align: center;

          .liquidityButton:not(:last-child) {
            margin-bottom: 12px;
          }

          .liquidityButton {
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1080px) {
    .poolContainer {
      .topRow {
        flex-direction: column;
        text-align: center;

        .nameAndStuff {
          .stuff {
            flex-direction: column;
            align-items: unset;
          }
          .stuff:not(:last-child) {
            margin-bottom: 4px;
          }
        }

        .icon {
          margin-left: auto;
          margin-right: auto;
          padding-right: 0;
          margin-bottom: 24px;
        }
      }

      .mainBody {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
          "donutAndStats"
          "tabButtons"
          "tabSection";

        border: unset;
        border-radius: unset;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;

        .donutAndStats {
          text-align: center;
          .donut {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 4px;
          }
        }

        .tabSection {
          .story,
          .details,
          .priceTracker {
            border: 2px solid $color-light-purple;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
