@import "styles/styles.scss";
.tokenPairContainer {
  height: 23px;
  padding-bottom: 10px;
  > img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  }

  > img:nth-child(2) {
    position: relative;
    right: 10px;
  }
}
