@import "styles/styles.scss";
.tokenPairContainer {
  > img {
    @include tokenIcon;
    width: 32px;
    height: 32px;
  }

  > img:nth-child(2) {
    position: relative;
    right: 1em;
  }

  // > img:nth-child(2) {
  //   border: 1px solid $color-black;
  // }
}
