@import "styles/colors.scss";
.launchSummary {
  display: grid;
  grid-template-columns: 28px 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "icon title timeLeft"
    "icon description description"
    "icon tokensTarget tokensTarget";
  row-gap: 12px;
  cursor: pointer;

  .icon {
    grid-area: icon;
    padding-top: 5px;
  }

  > .title {
    grid-area: title;
  }

  .timeLeft {
    grid-area: timeLeft;
    font-size: 0.8em;
    align-self: center;
    text-align: right;

    > .icon {
      margin-right: 6px;
    }
  }

  > .description {
    grid-area: description;
    color: $color-grey-2;
  }

  .tokensTarget {
    grid-area: tokensTarget;
    display: flex;
    justify-content: space-between;

    .pair,
    .target {
      .title {
        font-size: 0.8em;
        margin-bottom: 8px;
      }
    }

    .pair {
      .tokens {
        img {
          margin-right: 6px;
        }
      }
    }
  }
}
