@import "styles/colors.scss";
.disclaimerButtons {
  label {
    all: revert;
    display: block;
  }

  a,
  .clause {
    line-height: 24px;
    font-size: 16px;
    font-family: Inter;
  }

  .clause {
    color: $Neutral03;
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      border-radius: 6px;
      accent-color: rgba(255, 73, 122, 1);
      margin-right: 6px;
    }
  }
}
