@import "styles/styles.scss";
.launchAbout {
  &.onecolumn {
    grid-area: seedAboutOneColumn;
    display: none;
  }

  &.twocolumn {
    grid-area: seedAboutTwoColumn;
  }

  align-self: self-end;

  .title {
    margin-bottom: 8px;
    white-space: normal;
  }

  .body {
    margin-bottom: 19px;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;

    a {
      color: $Neutral02;
      margin-bottom: 16px;
      display: flex;
      align-items: baseline;
      flex: 1 170px;

      &:hover {
        text-decoration: none;
      }

      .icon {
        font-size: 14px;
        border-radius: 50%;
        color: $BG01;
        background-color: $Neutral02;
        padding: 13px;
        width: 16px;
        height: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-inline-end: 8px;
      }

      .name {
        white-space: normal;
        text-transform: capitalize;
        margin-right: 18px;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    a > div {
      display: inline-block;
    }
  }

  .adminPage {
    border-radius: 8px;
    background-color: $BG02;
    padding: 28px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "body doit";
    align-items: self-end;
    row-gap: 8px;
    column-gap: 12px;

    .description {
      grid-area: title;
      font-size: 22px;
      padding-top: 16px;
      padding-bottom: 8px;
    }

    .body {
      grid-area: body;
      margin-bottom: 0;
    }

    .doit {
      grid-area: doit;
    }
  }
}

@media screen and (max-width: 1475px) {
  .launchAbout {
    margin: 0 10%;
    text-align: center;
    justify-self: center;

    &.onecolumn {
      display: unset;
    }

    &.twocolumn {
      display: none;
    }

    .title {
      width: 100%;
    }

    .links {
      margin: 0 10% 30px;

      a {
        justify-content: center;
        .name {
          margin-right: 0;
        }
      }
    }

    .adminPage {
      grid-template-columns: auto;
      grid-template-areas:
        "title"
        "body"
        "doit";

      row-gap: 16px;
    }
  }
}

@media screen and (max-width: 571px) {
  .launchAbout {
    .links {
      a {
        text-align: left;
        justify-content: flex-start;
      }
    }
  }
}
