@import "styles/colors.scss";
@import "styles/styles";
.page.launch {
  font-size: 1.7rem;
  display: flex;
  flex-flow: column wrap;
  .banner {
    grid-area: banner;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    .heading {
      font-family: Aeonik;
      font-weight: bolder;
      text-align: center;
      background: linear-gradient(200deg, #ff497a, #a258a7 85%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .subtext {
    // font-family: Inter;
    font-size: 0.85em;
    color: $muted-text-color;
  }
  .launchBoxes {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    gap: 1em;
    justify-content: center;
    .title {
      font-size: 1.5em;
      line-height: 2.7em;
    }
  }
  // ** For styling the container holding buttons
  .launch-box-container {
    background-color: $color-black-3;
    border-radius: 1em;
    border: 1px solid $color-darkpink-2;
    width: 18em;
    height: 15em;
    display: grid;
    grid-template-rows: 2fr 1fr;
    > div {
      // Make these divs have paddings to align contents
      // TODO:
      padding-left: 1em;
      padding-right: 1.5em;
      font-size: 20px;
    }
    .topSection {
      padding-top: 0.4em;
      padding-bottom: 1.5em;
      line-height: 1.3em;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: row wrap;
      align-items: center;
      justify-content: space-between;
    }
    .buttonContainer {
      text-align: center;
      padding: 1em 2em;
      font-size: 0.7em;
      border-radius: 2em;
      cursor: pointer;
    }
    a {
      font-weight: bold;
      text-decoration: none;
      // font-family: Inter;
      color: $color-white;
    }
    & .container-footer {
      background-color: $color-darkpink-2;
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding-top: 1.25em;
      padding-bottom: 1.25em;
      & div {
        font-size: 0.7em;
        font-weight: 600;
        // font-family: Inter;
        color: $color-white;
        padding-left: 0.4em;
        padding-right: 0.4em;
      }
    }
  }
}
// **
