@import "styles/styles.scss";
.page.launch {
  font-size: 28px;
  display: flex;
  flex-flow: column wrap;
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 78px;

    > .subtext {
      font-family: Inter;
      font-size: 18px;
      color: $Neutral03;
      font-weight: 700;
      line-height: 27px;
      text-align: center;
      max-width: 615px;
    }
  }
  .launchBoxes {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    gap: 24px;
    justify-content: center;
    .title {
      font-size: 36px;
      line-height: 65px;
    }
    > div {
      width: 40%;
    }

    .launch-box-container {
      background-color: $BG02;
      border-radius: 16px;
      border: 1px solid $Border01;
      height: 100%;
      display: grid;
      grid-template-rows: 2fr 1fr;
      > div {
        padding-left: 40px;
        padding-right: 32px;
        font-size: 20px;
      }
      .topSection {
        padding-top: 6px;
        margin-bottom: 32px;

        .subtext {
          font-family: Inter;
          font-weight: normal;
          font-size: 18px;
          color: $Neutral03;
          line-height: 27px;
        }
      }
      .buttons {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        .buttonContainer {
          text-align: center;
          font-size: 8px;
          border-radius: 32px;
          a {
            font-weight: bold;
            text-decoration: none;
            color: $White;
            cursor: pointer;
            &.disabled {
              pointer-events: none;
            }
          }
        }

        .moreInfoContainer {
          a {
            @include standardTextGradient;
          }
        }
      }
      .container-footer {
        background-color: $Border01;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 32px;
        margin-top: 20px;

        > div {
          font-size: 14px;
          line-height: 33px;
          font-weight: normal;
          color: $Neutral03;
          padding-right: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .page.launch {
    .banner {
      > .heading.heading1 {
        white-space: normal;
        text-align: center;
      }
      > .subtext {
        white-space: normal;
      }
    }
    .launchBoxes {
      flex-flow: column;
      align-items: center;
      > div {
        width: 100%;
      }
      .launch-box-container {
        .buttons {
          justify-content: space-evenly;
        }
        .container-footer {
          justify-content: center;
        }
      }
    }
  }
}
