$color-black: #000000;
$color-black-2: #212529;
$color-grey-7: #202020;
$color-grey-6: #4c4c4c;
$color-grey-5: #757575;
$color-grey-4: #9b9b9b;
$color-grey-3: #b5b5b5;
$color-grey-2: #cecece;
$color-grey-1: #e6e6e6;
$color-white: #ffffff;
$color-lightblue: #1ee0fc;
$color-darkblue: #007bbc;
$color-yellow: #ffd110;
$color-bluegreen: #298cdd;
$color-green: #64b0c8;
$color-red: #e8290a;
$color-red-2: #fb5252;
$color-orange: #faa04a;
$color-light-purple: #8668fc;
$color-dark-purple: #7557eb;
$color-darkpink: #ae5cff;
$color-pink: #c08eff;
$button1-color: #64b0c8;
$button2-color: $color-darkpink;
$button3-color: $color-light-purple;
$button4-color: $color-green;

$global-background-color: $color-light-purple;
$global-button-radius: 26px;
$divider-color: $color-lightblue;
$lightbutton-border: 2px solid $color-green;
$input-border: $lightbutton-border;
$input-border-radius: 5px;
$section-border: unset;
$section-background-color: $color-grey-1;
$section-border-radius: unset;
