$Primary01: #ff497a;
$Primary02: #8668fc;
$Secondary01: #eba7da;
$Secondary02: #a258a7;
$Secondary03: #fff619;
$Secondary04: #ffce3d;
$Neutral01: #15062d;
$Neutral02: #98979b;
$Neutral03: #dcdae5;
$Neutral04: #f9f6f9;
$White: #ffffff;
$Gradient01: linear-gradient(220.2deg, #ff497a 0%, #a258a7 100%);
$Gradient02: linear-gradient(220.2deg, #8668fc 0%, #a258a7 100%);
$Gradient03: linear-gradient(220.2deg, #dcdae5 0%, #9398a8 100%);
$Gradient04: linear-gradient(220.2deg, #f9f6f9 0%, #dcdae5 100%);
$Gradient05: linear-gradient(220.2deg, #2d062b 0%, #15062d 100%);
$Gradient06: linear-gradient(220.2deg, #2a204a 0%, #15062d 100%);
$Gradient07: linear-gradient(220.2deg, #3abb5e 0%, #f9f6f9 100%);
$BG01: #1b1722;
$BG02: #292235;
$BG03: #0e0e0e;
$BG04: #151318;
$Border01: #403453;
$Border02: #292236;
$Border03: #372a4b;
$AlertRed: #ff5252;
$AlertOrange: #ffb155;
$AlertGreen: #3abb5e;
$Shade01: #ff497a;
$Shade02: #fc4d92;
$Shade03: #f149ad;
$Shade04: #dc4ec9;
$Shade05: #bb5ae4;
$Shade06: #8668fc;

$color-black: #000000;
$color-black-2: #212529;
$color-black-3: #292235;
$color-grey-7: #202020;
$color-grey-6: #4c4c4c;
$color-grey-5: #757575;
$color-grey-4: #9b9b9b;
$color-grey-3: #b5b5b5;
$color-grey-2: #cecece;
$color-grey-1: #e6e6e6;
$color-white: #ffffff;
$color-lightblue: #1ee0fc;
$color-darkblue: #007bbc;
$color-yellow: #ffd110;
$color-bluegreen: #298cdd;
$color-green: #53c18d;
$color-red: #ff8a80;
$color-red-2: #fb5252;
$color-orange: #ff497a;
$color-light-purple: #8668fc;
$color-dark-purple: #7557eb;
$color-darkpink: #ae5cff;
$color-darkpink-3: #1b1722;
$color-pink: #c08eff;

$global-background-color: $BG01;
$global-button-radius: 50px;
$subtext-color: $color-grey-4;
$divider-color: $subtext-color;
$muted-text-color: #dcdae5;
$input-border: $subtext-color;
$input-border-radius: 6px;
