@import "./colors";

.dialog {
  color: $White;
  background-color: $BG01;
}

.dialog ux-dialog-header {
  font-weight: 500;
  font-size: 1.2rem;
}
ux-dialog {
  border-radius: 0 !important;
  border-width: 0 !important;
}

ux-dialog-container > div > div {
  min-width: 10rem;
}
