@import "./animations";
@import "./dialogs";
@import "tippy.js/dist/tippy.css"; // TODO: use CDN?

html {
  body {
    font-size: 16px;
    margin: 0;
    background-color: $global-background-color;
    color: $color-white;
    font-family: Aeonik;
    min-height: 100vh;
    padding-left: 4rem;
    padding-right: 4rem;

    input {
      font-family: Aeonik;
      border: $input-border;
      width: 70px;
      background-color: $color-black;
      color: $color-white;
      border-radius: $input-border-radius;
      outline: none;

      &::placeholder {
        color: $color-grey-4;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }

    .clearInput {
      background-color: transparent;
      color: $color-black;

      &::placeholder {
        color: $color-black;
      }
    }

    hr {
      height: 1px;
      border: none;
      background-color: $divider-color;
    }

    a {
      color: $color-darkblue;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    .heading {
      font-family: "Cera Pro";
      color: $color-white;
      white-space: nowrap;

      &.heading0 {
        font-size: 3.5em;
        margin-bottom: 24px;
        line-height: 54px;
      }
      &.heading1 {
        font-size: 2em;
        margin-bottom: 8px;
      }
      &.heading2 {
        font-size: 1.625em;
        margin-bottom: 6px;
      }
      &.heading3 {
        font-size: 1.25em;
      }
    }

    .subtext {
      color: $subtext-color;
      font-size: 0.8125em;
    }

    .button,
    .button1,
    .button2,
    .button3,
    .button4,
    .buttonBw {
      border-radius: $global-button-radius;
      padding: 14px 28px;
      font-family: "Cera Pro";
      font-size: 0.9em;
      height: 1rem;
      color: $color-white;
      background-color: transparent;
      cursor: pointer;

      &:hover:not(:disabled) {
        background-color: $color-black;
        border-color: $color-black;
        color: $color-white;
        text-decoration: none;
      }

      &.small {
        padding: 3px 13px;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    .button1 {
      background-color: $button1-color;
      border-color: $button1-color;
    }
    .button2 {
      background-color: $button2-color;
      border-color: $button2-color;
    }
    .button3 {
      background-color: $button3-color;
      border-color: $button3-color;
    }
    .button4 {
      color: $button4-color;
      border: 2px solid $button4-color;
    }
    .button5 {
      color: $color-white;
      background-color: #8668fc;
    }
    .buttonBw {
      color: $color-black;
      border: 2px solid $color-green;
    }
  }

  etherscanlink {
    white-space: nowrap;
    display: inline-block;

    .etherscanlink .text {
      margin-right: 4px;
    }
  }

  .smallEtherScanLink {
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .copy-to-clip-button,
  .copy-to-clip-button:focus {
    color: $color-white;
  }

  .copy-to-clip-button:hover {
    color: $color-grey-3;
  }

  .launches {
    horizontal-scroller {
      display: inline-block;
      margin-bottom: 28px;

      // note this is inside of the launch-summary element
      .launchSummaryContainer {
        width: 320px;
        padding-right: 30px;
      }
    }
  }

  #WEB3_CONNECT_MODAL_ID {
    div:first-of-type {
      z-index: 10002; // stay over everything except modal mask
    }
  }
}
