@import "styles/styles.scss";
.documentsContainer {
    display: grid;
    grid-template-columns: 0.01fr 1fr;
    gap: 20px;

    .documentBody {
        display: grid;
        grid-template-columns: .7fr 2fr;
        gap: 20px;
    }

    .sidebar {
        line-height: 200.02%;
        font-family: Inter;
        font-size: 16px;

        a {
            text-decoration: none;
            display: block;
        }

        .active {
            color: $Secondary02;
        }
    }
    .docsContainer {
        max-width: 40rem;

        > .heading3 {
            line-height: 200%;
            font-size: 36px;
        }

        .document {
            font-family: Inter;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: $Neutral03;
        }
    }
}

@media screen and (max-width: 1072px) {

    .documentsContainer {
        grid-template-columns: unset;
        grid-template-rows: 0.01fr 1fr;
        justify-content: center;

        > .heading.heading1 {
            -webkit-text-fill-color: $Secondary02;
            font-size: 32px;
        }
        .docsContainer {
            max-width: 80vw;
        }
        .documentBody {
            grid-template-rows: 0.1fr 1fr;
            grid-template-columns: unset;
        }
    }
}
