@import "styles/colors.scss";

.range-input {
  display: inline-grid;
  grid-template-areas: "range range" "token1 token2";
  font-size: 14px;

  .output {
    color: $Neutral03;
    text-transform: uppercase;
    line-height: 17px;
    padding-top: 7px;

    &.left {
      grid-area: token1;
      text-align: left;
    }

    &.right {
      grid-area: token2;
      text-align: right;
    }
  }

  input[type="range"] {
    grid-area: range;
    -webkit-appearance: none;
    width: 100%;
    height: 0;
    background: #8668fc; 
    border-radius: 5px;
    background-image: linear-gradient(
      90deg, #a258a7 0%, 
      #ff497a 80%, 
      #8668fc 80%, 
      #a258a7 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #f9f6f9; /* Neutral04 */
    border: 2.5px solid #292235; /* BG02 */
    cursor: ew-resize;
  }

  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    margin: 0 -15px;
  }

  input[type="range"]:focus-within,
  input[type="range"]:focus-visible {
    outline: none;
    box-shadow: 0px 0px 10px #8668FC;
  }
}