@import "styles/styles.scss";
.page.seedDashboardContainer {
  .seedDashboard {
    padding-left: 6em;
    padding-right: 6em;

    display: flex;
    justify-content: space-between;

    .leftColumn {
      flex-basis: 45%;

      .intro {
        display: flex;

        .leftSection {
          display: flex;
          flex-basis: 75%;
          flex-direction: column;
          margin-bottom: 2em;

          .header {
            display: flex;
            align-items: center;

            .title {
              margin-right: 1em;
              margin-bottom: 0;
            }

            // > .timeLeft {
            // }
          }
        }

        .rightSection {
          flex-basis: 25%;
          text-align: right;
          align-self: center;
          > div {
            white-space: nowrap;
          }

          .label {
            font-size: 0.8em;
            color: $color-grey-4;
            margin-bottom: 0.25em;
          }

          // > .timeLeft {
          //   color: $color-orange;
          //   font-size: 26px;
          //   font-weight: bold;
          // }
        }
      }

      .section1,
      .section2,
      .section3 {
        background-color: $color-black-3;
        padding: 1.5em 1.5em;
        border-radius: 0.5em;
        align-items: baseline;

        &:not(:last-child) {
          margin-bottom: 1.5em;
        }

        > .number {
          grid-area: number;
          padding: 0.5em;
        }

        .description {
          padding-left: 1em;
          padding-right: 1em;
          padding-top: 1em;
          padding-bottom: 0.5em;
        }

        .form {
          padding-left: 1em;
          padding-right: 1em;

          display: grid;
          grid-template-columns: auto auto auto auto auto;
          grid-template-rows: auto auto;
          grid-template-areas:
            "input units1 equals output units2"
            "vestedMessage vestedMessage vestedMessage vestedMessage vestedMessage";
          row-gap: 0.75em;
          align-items: center;
          justify-self: center;

          .input,
          .units1,
          .units2,
          .output {
            font-size: 1.1em;
            // width: 3.3em;
            height: 100%;
            border: 1px solid #403453;
            background-color: #1b1722;
            border-radius: 0.5em;
          }

          .input input {
            padding: 0;
            font-size: 1.1rem;
            width: 103px;
            text-align: center;
          }

          .output,
          .input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-width: 0;
            display: flex;
            align-items: center;
            width: 120px;
            justify-content: center;
            padding: 4px 0px;
          }

          .units1,
          .units2 {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 4px 16px;
            display: flex;
            align-items: center;

            .container {
              .token {
                font-weight: 800;
                color: $color-grey-4;
              }

              .subsection {
                white-space: nowrap;
              }
            }
          }

          .input {
            grid-area: input;
          }

          .units1 {
            grid-area: units1;
          }

          .units2 {
            grid-area: units2;
          }

          .equals {
            grid-area: equals;
            text-align: center;
            padding-left: 2em;
            padding-right: 2em;
          }

          .output {
            grid-area: output;
            justify-self: flex-end;
          }

          .vestedMessage {
            grid-area: vestedMessage;
            font-style: italic;
          }
        }

        .description {
          grid-area: description;
          font-size: 1.4em;
        }
        .subdescription {
          padding-left: 1.8em;
          padding-right: 1.8em;
          padding-bottom: 1em;
          grid-area: subtext;
        }
        .help {
          justify-self: flex-end;
          grid-area: help;
          text-align: right;
          width: 1.5em;
          height: 1.5em;
        }
        .form {
          grid-area: form;
        }
        .doit {
          grid-area: doit;
          text-align: right;
          align-self: center;
          button {
            width: 120px;
            padding-left: 1.2em;
            padding-right: 1.2em;

            &.hide {
              // preserve the vertical space even while hidden
              visibility: hidden;
            }
          }
        }
      }

      .section1 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
          "description help"
          "subtext doit";
        row-gap: 0.5em;
      }

      .section2,
      .section3 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
          "description help"
          "form form"
          "doit doit";
        row-gap: 0.5em;
      }
    }

    .rightColumn {
      flex-basis: 45%;

      .section:not(:last-child) {
        margin-bottom: 4em;
      }

      .topSection {
        .tokenId {
          display: flex;
          margin-bottom: 13px;
          font-family: Inter;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;

          > div {
            margin-right: 10px;
          }

          .icon {
            img {
              @include tokenIcon;
              width: 24px;
            }
          }
        }

        .progressBar {
          background-color: $BG02;
          width: 100%;
          height: 23px;
          border-radius: 10px;
          margin-bottom: 13px;

          .bar {
            border-radius: 10px;
            background: $Gradient01;
          }
        }

        .raised {
          display: flex;
          font-family: Inter;
          font-size: 24px;
          line-height: 29px;

          .amount {
            margin-right: 8px;
            font-weight: bold;
          }

          .denomination {
            align-self: flex-end;
            font-size: 18px;
            line-height: 22px;
          }

          .perc {
            flex-grow: 2;
            text-align: right;
          }
        }
      }

      .middleSection {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto 40% auto auto;
        grid-template-areas:
          "targetLabel maxLabel valuationLabel"
          "target max valuation"
          "tokensleftLabel seedpriceLabel tokenpriceLabel"
          "tokensleft seedprice tokenprice";

        .label {
          font-size: 14px;
          line-height: 24px;
          font-weight: bold;
          text-transform: uppercase;
          color: $Neutral03;
          opacity: 0.4;
        }

        .value {
          font-family: Inter;
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          @include standardTextGradient;
        }

        .targetLabel {
          grid-area: targetLabel;
        }

        .target {
          grid-area: target;
        }

        .maxLabel {
          grid-area: maxLabel;
        }

        .max {
          grid-area: max;
        }

        .valuationLabel {
          grid-area: valuationLabel;
        }

        .valuation {
          grid-area: valuation;
        }

        .tokensleftLabel {
          grid-area: tokensleftLabel;
        }

        .tokensleft {
          grid-area: tokensleft;
        }

        .seedpriceLabel {
          grid-area: seedpriceLabel;
        }

        .seedprice {
          grid-area: seedprice;
        }

        .tokenpriceLabel {
          grid-area: tokenpriceLabel;
        }

        .tokenprice {
          grid-area: tokenprice;
          font-size: 14px;
          line-height: 17px;

          .symbol {
            display: inline-block;
            font-weight: 100;
          }
        }
      }

      .bottomSection {
        .title {
          margin-bottom: 0.5em;
        }

        .body {
          margin-bottom: 2em;
        }

        .links {
          display: flex;
          flex-wrap: wrap;

          a {
            color: $subtext-color;
            margin-bottom: 1em;

            &:hover {
              text-decoration: none;
            }

            .icon {
              text-align: center;
              margin-right: 0.25em;
              font-size: 0.75em;
              border-radius: 50%;
              color: $color-black;
              background-color: $subtext-color;
              padding: 0.4em;
              width: 1em;
              height: 1em;
            }

            .name {
              text-transform: capitalize;
              margin-right: 2em;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          a > div {
            display: inline-block;
          }
        }
      }
    }
  }

  .loading {
    text-align: center;
    i {
      color: $color-lightblue;
    }
  }
}
