@import "styles/colors.scss";
.page.seedDashboardContainer {
  .seedDashboard {
    padding-left: 6em;
    padding-right: 6em;

    display: flex;
    justify-content: space-between;

    .leftColumn {
      flex-basis: 45%;

      .intro {
        display: flex;

        .leftSection {
          display: flex;
          flex-basis: 75%;
          flex-direction: column;
          margin-bottom: 2em;

          .header {
            display: flex;

            .title {
              margin-right: 1em;
              margin-bottom: 0.5em;
            }

            .timeLeft {
            }
          }
        }

        .rightSection {
          flex-basis: 25%;
          text-align: right;
          align-self: center;
          > div {
            white-space: nowrap;
          }

          .label {
            font-size: 0.8em;
            color: $color-grey-4;
            margin-bottom: 0.25em;
          }

          .timeLeft {
            color: $color-orange;
          }
        }
      }

      .section1,
      .section2,
      .section3 {
        background-color: $color-black-3;
        padding: 1.5em 1.5em;
        border-radius: 0.5em;
        align-items: baseline;

        &:not(:last-child) {
          margin-bottom: 1.5em;
        }

        > .number {
          grid-area: number;
          padding: 0.5em;
        }

        .description {
          padding-left: 1em;
          padding-right: 1em;
          padding-top: 1em;
          padding-bottom: 0.5em;
        }

        .form {
          padding-left: 1.5em;
          padding-right: 1em;
        }

        .description {
          grid-area: description;
          font-size: 1.4em;
        }
        .subtext {
          padding-left: 1.8em;
          padding-right: 1.8em;
          padding-bottom: 1em;
          grid-area: subtext;
        }
        .help {
          justify-self: flex-end;
          grid-area: help;
          text-align: right;
          width: 1.5em;
          height: 1.5em;
        }
        .form {
          grid-area: form;
        }
        .doit {
          grid-area: doit;
          text-align: right;
          align-self: center;
          button {
            width: 120px;
            padding-left: 1.2em;
            padding-right: 1.2em;
          }
        }
      }

      .section1 {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
        grid-template-areas:
          "number description help"
          "number subtext doit";
      }

      .section2,
      .section3 {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
        grid-template-areas:
          "number description help"
          "number form form"
          "doit doit doit";
      }
    }

    .rightColumn {
      flex-basis: 45%;

      .section:not(:last-child) {
        margin-bottom: 4em;
      }

      .topSection {
        .tokenId {
          white-space: nowrap;
          margin-bottom: 0.8em;

          > div {
            display: inline-block;
          }
        }

        .progressBar {
          width: 200px;
          height: 1em;
          border-radius: 10px;
          background-color: $color-pink;
          margin-bottom: 0.8em;
        }

        .raised {
          display: flex;

          .amount {
            margin-right: 8px;
            font-weight: bold;
          }

          .denomination {
            font-size: 0.8em;
            color: $color-grey-4;
            align-self: flex-end;
          }

          .perc {
            flex-grow: 2;
            text-align: right;
          }
        }
      }

      .middleSection {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
          "targetLabel maxLabel valuationLabel"
          "target max valuation"
          "tokensleftLabel seedpriceLabel tokenpriceLabel"
          "tokensleft seedprice tokenprice";

        .label {
          font-size: 0.75em;
          color: $color-grey-4;
        }

        .value {
          color: $muted-text-color;
        }

        .targetLabel {
          grid-area: targetLabel;
        }

        .target {
          grid-area: target;
          margin-bottom: 1em;
        }

        .maxLabel {
          grid-area: maxLabel;
        }

        .max {
          grid-area: max;
          margin-bottom: 1em;
        }

        .valuationLabel {
          grid-area: valuationLabel;
        }

        .valuation {
          grid-area: valuation;
          margin-bottom: 1em;
        }

        .tokensleftLabel {
          grid-area: tokensleftLabel;
        }

        .tokensleft {
          grid-area: tokensleft;
        }

        .seedpriceLabel {
          grid-area: seedpriceLabel;
        }

        .seedprice {
          grid-area: seedprice;
        }

        .tokenpriceLabel {
          grid-area: tokenpriceLabel;
        }

        .tokenprice {
          grid-area: tokenprice;
        }
      }

      .bottomSection {
        .title {
          margin-bottom: 0.5em;
        }

        .body {
          margin-bottom: 2em;
        }

        .links {
          display: flex;
          flex-wrap: wrap;

          a {
            display: block;
            color: $subtext-color;
            margin-bottom: 1em;

            .icon {
              text-align: center;
              margin-right: 0.25em;
              font-size: 0.75em;
              border-radius: 50%;
              color: $color-black;
              background-color: $subtext-color;
              padding: 0.4em;
              width: 1em;
              height: 1em;
            }

            .name {
              text-transform: capitalize;
              margin-right: 2em;
            }
          }

          a > div {
            display: inline-block;
          }
        }
      }
    }
  }

  .loading {
    text-align: center;
    i {
      color: $color-lightblue;
    }
  }
}
