@import "styles/styles.scss";
.page.seedDashboardContainer {
  .seedDashboard {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-areas:
      "seedBanner seedProgress"
      "forms seedSummary";
    column-gap: 10%;

    .seedBanner {
      grid-area: seedBanner;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-areas:
        "title countdown countdown"
        "description description timeleft";
      align-items: center;
      column-gap: 8px;
      row-gap: 20px;
      margin-bottom: 48px;

      .title {
        grid-area: title;
        margin-bottom: 0;
        white-space: normal;
        line-height: 42px;
      }

      .countdown {
        grid-area: countdown;
        text-align: right;
      }

      .description {
        grid-area: description;
      }

      .timeLeft {
        grid-area: timeleft;
        text-align: right;
        align-self: center;
        > span {
          white-space: nowrap;
        }

        .label {
          font-size: 0.8em;
          color: $Neutral03;
          margin-bottom: 0.25em;
        }

        .timer {
          color: $AlertOrange;
          font-size: 22px;
          font-weight: bold;
        }
      }
    }

    .seedProgress {
      grid-area: seedProgress;

      .tokenId {
        display: flex;
        margin-bottom: 13px;
        font-family: Inter;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;

        > div {
          margin-right: 10px;
        }

        .icon {
          img {
            @include tokenIcon;
            width: 24px;
            position: relative;
            top: 2px;
          }
        }
      }

      .progressBar {
        background-color: $BG02;
        width: 100%;
        height: 23px;
        border-radius: 10px;
        margin-bottom: 13px;

        .bar {
          border-radius: 10px;
          background: $Gradient01;

          &.complete {
            background: $Gradient07;
          }
        }
      }

      .raised {
        display: flex;
        font-family: Inter;
        font-size: 24px;
        line-height: 29px;

        .amount {
          margin-right: 8px;
          font-weight: bold;
        }

        .denomination {
          align-self: flex-end;
          font-size: 18px;
          line-height: 22px;
        }

        .perc {
          flex-grow: 2;
          text-align: right;

          &.filled {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }

    .forms {
      grid-area: forms;

      .section1,
      .section2,
      .section3,
      .section4 {
        background-color: $BG02;
        border-radius: 8px;
        align-items: baseline;
        padding: 28px 28px;

        &:not(:last-child) {
          margin-bottom: 1.5em;
        }

        > .number {
          grid-area: number;
          padding: 0.5em;
        }

        .description {
          padding-top: 16px;
          padding-bottom: 8px;
        }

        .form {
          display: grid;
          grid-template-columns: auto auto 1fr auto auto;
          grid-template-rows: auto auto;
          grid-template-areas:
            "input units1 equals output units2"
            "vestedMessage vestedMessage vestedMessage vestedMessage vestedMessage";
          row-gap: 12px;
          align-items: center;

          .input,
          .units1,
          .units2,
          .output {
            font-size: 1.1em;
            // width: 3.3em;
            height: 100%;
            border: 1px solid #403453;
            background-color: #1b1722;
            border-radius: 0.5em;
          }

          .input input {
            padding: 0;
            font-size: 1.1rem;
            width: 103px;
            text-align: center;
          }

          .output,
          .input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-width: 0;
            display: flex;
            align-items: center;
            width: 120px;
            justify-content: center;
            padding: 4px 0px;
          }

          .units1,
          .units2 {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 4px 16px;
            display: flex;
            align-items: center;

            .container {
              .token {
                font-weight: 800;
                color: $Neutral02;
              }

              .subsection {
                white-space: nowrap;
              }
            }
          }

          .input {
            grid-area: input;

            .maxButton {
              text-align: center;
              font-size: 13px;
            }
          }

          .units1 {
            grid-area: units1;

            .unlockButton {
              text-align: center;
              font-size: 13px;
            }
          }

          .units2 {
            grid-area: units2;
          }

          .equals {
            grid-area: equals;
            text-align: center;
          }

          .output {
            grid-area: output;
            justify-self: flex-end;
          }

          .vestedMessage {
            grid-area: vestedMessage;
            font-style: italic;
          }
        }

        .description {
          grid-area: description;
          font-size: 1.4em;
        }
        .subdescription {
          padding-left: 1.8em;
          padding-right: 1.8em;
          padding-bottom: 1em;
          grid-area: subtext;
        }
        .help {
          justify-self: flex-end;
          grid-area: help;
          text-align: right;
          width: 1.5em;
          height: 1.5em;
        }
        .form {
          grid-area: form;
        }
        .doit {
          grid-area: doit;
          text-align: right;
          align-self: center;
          button {
            width: 120px;
            padding-left: 1.2em;
            padding-right: 1.2em;
          }
        }
      }

      .section1 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
          "description help"
          "subtext doit";
        row-gap: 0.5em;
      }

      .section2,
      .section3 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
          "description help"
          "form form"
          "doit doit";
        row-gap: 0.5em;
      }

      .section4 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
          "description help"
          "vestedMessage vestedMessage"
          "doit doit";
        row-gap: 0.5em;
      }
    }

    .seedSummary {
      grid-area: seedSummary;
      padding-top: 28px;

      .section:not(:last-child) {
        margin-bottom: 4em;
      }

      .middleSection {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto 40% auto auto;
        grid-template-areas:
          "targetLabel maxLabel valuationLabel"
          "target max valuation"
          "tokensleftLabel tokenpriceLabel tokenpriceLabel"
          "tokensleft tokenprice tokenprice";

        .label {
          font-size: 14px;
          line-height: 24px;
          font-weight: bold;
          text-transform: uppercase;
          color: $Neutral03;
          opacity: 0.4;
        }

        .value {
          font-family: Inter;
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          @include standardTextGradient;
        }

        .targetLabel {
          grid-area: targetLabel;
        }

        .target {
          grid-area: target;
        }

        .maxLabel {
          grid-area: maxLabel;
        }

        .max {
          grid-area: max;
        }

        .valuationLabel {
          grid-area: valuationLabel;
        }

        .valuation {
          grid-area: valuation;
        }

        .tokensleftLabel {
          grid-area: tokensleftLabel;
        }

        .tokensleft {
          grid-area: tokensleft;
        }

        .tokenpriceLabel {
          grid-area: tokenpriceLabel;
        }

        .tokenprice {
          grid-area: tokenprice;
          font-size: 14px;
          line-height: 17px;

          .symbol {
            display: inline-block;
            font-weight: 100;
          }
        }
      }

      .bottomSection {
        .title {
          margin-bottom: 0.5em;
        }

        .body {
          margin-bottom: 2em;
        }

        .links {
          display: flex;
          flex-wrap: wrap;

          a {
            color: $Neutral02;
            margin-bottom: 1em;

            &:hover {
              text-decoration: none;
            }

            .icon {
              text-align: center;
              margin-right: 0.25em;
              font-size: 0.75em;
              border-radius: 50%;
              color: $BG01;
              background-color: $Neutral02;
              padding: 0.4em;
              width: 1em;
              height: 1em;
            }

            .name {
              text-transform: capitalize;
              margin-right: 2em;
              &:hover {
                text-decoration: underline;
              }
            }
          }

          a > div {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1190px) {
  .page.seedDashboardContainer {
    .seedDashboard {
      grid-template-columns: auto;
      grid-template-areas:
        "seedBanner"
        "seedProgress"
        "forms"
        "seedSummary";
      column-gap: unset;

      .seedBanner {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas:
          "timeleft timeleft"
          "title countdown"
          "description description";
        justify-content: space-evenly;
        // align-items: center;
        // column-gap: 8px;
        // row-gap: 20px;

        .countdown {
          justify-self: right;
        }

        .timeLeft {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .page.seedDashboardContainer {
    .seedDashboard {
      .seedBanner {
        justify-content: space-between;
      }
    }
  }
}
