@import "styles/styles.scss";
.page.seedDashboardContainer {
  .seedDashboard {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-areas:
      "seedBanner seedProgress"
      "forms seedSummary";
    column-gap: 10%;
    row-gap: 24px;

    .seedBanner {
      grid-area: seedBanner;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-areas:
        "title title countdown"
        "description description timeleft";
      align-items: center;
      column-gap: 12px;
      row-gap: 20px;
      margin-bottom: 48px;

      .title {
        grid-area: title;
        margin-bottom: 0;
        white-space: normal;
        line-height: 42px;
        overflow-x: clip;
        max-width: 400px;
      }

      .countdown {
        grid-area: countdown;
        text-align: right;
      }

      .description {
        grid-area: description;
      }

      .timeLeft {
        grid-area: timeleft;
        text-align: right;
        align-self: center;
        > span {
          white-space: nowrap;
        }

        .label {
          font-size: 13px;
          color: $Neutral03;
          margin-bottom: 4px;
        }

        .timer {
          color: $AlertOrange;
          font-size: 22px;
          font-weight: 600;
        }
      }
    }

    .seedProgress {
      grid-area: seedProgress;
      display: grid;
      grid-template-areas:
        "tokenId"
        "progressBar"
        "raised";
      align-content: start;

      .tokenId {
        grid-area: tokenId;
        display: flex;
        margin-bottom: 13px;
        font-family: Inter;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;

        > div {
          margin-right: 10px;
        }

        .icon {
          img {
            @include tokenIcon;
            width: 28px;
            border-radius: 14px;
            position: relative;
            top: 3px;
          }
        }
      }

      .progressBar {
        grid-area: progressBar;
        background-color: $BG02;
        // width: 100%;
        height: 23px;
        border-radius: 10px;
        margin-bottom: 13px;

        &.hide {
          display: none;
        }

        .bar {
          border-radius: 10px;
          background: $Gradient01;

          &.complete {
            background: $Gradient07;
          }
        }
      }

      .raised {
        grid-area: raised;
        display: grid;
        grid-template-columns: auto auto 3fr;
        column-gap: 8px;
        align-items: center;
        font-family: Inter;
        font-size: 24px;
        line-height: 29px;
        white-space: nowrap;
        margin-bottom: 28px;

        .amount {
          // margin-right: 8px;
          font-weight: 600;
        }

        .denomination {
          font-size: 18px;
          line-height: 22px;
        }

        .perc {
          // flex-grow: 2;
          text-align: right;

          &.filled {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }

    .forms {
      grid-area: forms;
      margin-bottom: 28px;

      .section1,
      .section2,
      .section3,
      .section4 {
        background-color: $BG02;
        border-radius: 8px;
        align-items: start;
        padding: 28px;

        &:not(:last-child) {
          margin-bottom: 18px;
        }

        > .number {
          grid-area: number;
          padding: 8px;
        }

        .description {
          padding-top: 16px;
          padding-bottom: 8px;
        }

        .vestedMessage {
          font-style: italic;
        }

        .form {
          grid-area: form;
          display: grid;
          grid-template-columns: auto auto 60px auto auto;
          grid-template-rows: auto auto;
          grid-template-areas:
            "input units1 equals output units2"
            "vestedMessage vestedMessage vestedMessage vestedMessage vestedMessage";
          row-gap: 12px;
          align-items: center;
          width: min-content;

          .input,
          .units1,
          .units2,
          .output {
            font-size: 17px;
            // width: 3.3em;
            height: 100%;
            border: 1px solid #403453;
            background-color: #1b1722;
            border-radius: 8px;
          }

          .input input {
            padding: 0;
            font-size: 17px;
            width: 103px;
            text-align: center;
          }

          .output,
          .input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-width: 0;
            display: flex;
            align-items: center;
            width: 120px;
            justify-content: center;
            padding: 4px 0px;
          }

          .units1,
          .units2 {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 4px 16px;
            display: flex;
            align-items: center;

            .container {
              .token {
                font-weight: 800;
                color: $Neutral02;
              }

              .subsection {
                white-space: nowrap;
              }
            }
          }

          .input {
            grid-area: input;

            .maxButton {
              margin-top: 4px;
              text-align: center;
              font-size: 13px;
            }
          }

          .units1 {
            grid-area: units1;
          }

          .units2 {
            grid-area: units2;
          }

          .equals {
            grid-area: equals;
            text-align: center;
          }

          .output {
            grid-area: output;
            justify-self: flex-end;
          }

          .vestedMessage {
            grid-area: vestedMessage;
          }
        }

        .description {
          grid-area: description;
          font-size: 22px;
          justify-self: flex-start;
        }
        .subdescription {
          padding-left: 0px;
          padding-right: 29px;
          padding-bottom: 16px;
          grid-area: subtext;
        }
        .help {
          justify-self: flex-end;
          grid-area: help;
          width: 24px;
          height: 24px;
        }
        .doit,
        .unlockButton {
          grid-area: doit;
          text-align: right;
          align-self: center;
          button {
            width: 160px;
            padding-left: 19px;
            padding-right: 19px;
          }
        }
      }

      .section1 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
          "description help"
          "subtext doit";
        row-gap: 8px;
      }

      .section2,
      .section3 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
          "description help"
          "form form"
          "doit doit";
        row-gap: 8px;
      }

      .section4 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
          "description help"
          "vestedMessage vestedMessage"
          "doit doit";
        row-gap: 8px;
      }
    }

    .seedSummary {
      grid-area: seedSummary;
      display: grid;
      grid-template-columns: 1.1fr 1fr auto;
      grid-template-rows: auto 46px auto 88px auto;
      grid-template-areas:
        "targetLabel maxLabel valuationLabel"
        "target max valuation"
        "tokensleftLabel tokenpriceLabel tokenpriceLabel"
        "tokensleft tokenprice tokenprice"
        "seedAboutTwoColumn seedAboutTwoColumn seedAboutTwoColumn";
      align-content: start;

      .label {
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: $Neutral03;
        opacity: 0.4;
      }

      .value {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        @include standardTextGradient;
      }

      .targetLabel {
        grid-area: targetLabel;
      }

      .target {
        grid-area: target;
      }

      .maxLabel {
        grid-area: maxLabel;
      }

      .max {
        grid-area: max;
      }

      .valuationLabel {
        grid-area: valuationLabel;
      }

      .valuation {
        grid-area: valuation;
      }

      .tokensleftLabel {
        grid-area: tokensleftLabel;
      }

      .tokensleft {
        grid-area: tokensleft;
      }

      .tokenpriceLabel {
        grid-area: tokenpriceLabel;

        .tokenPairContainer {
          > img {
            height: 25.75px;
            width: 25.75px;
          }
        }
      }

      .value.tokenprice {
        grid-area: tokenprice;
        font-size: 16px;
        line-height: 17px;
        padding-top: 8px;
        font-weight: 400;

        .symbol {
          display: inline-block;
          font-weight: 100;
        }
      }
    }
  }
}

@media screen and (max-width: 1475px) {
  .page.seedDashboardContainer {
    .seedDashboard {
      grid-template-areas:
        "seedBanner"
        "seedSummary"
        "seedProgress"
        "forms"
        "seedAboutOneColumn";
      grid-template-columns: auto;
      row-gap: 60px;

      .seedBanner {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
          "title"
          "description"
          "countdown"
          "timeleft";
        margin: 0 10%;
        align-items: center;

        .title {
          width: 100%;
          max-width: unset;
        }

        .description {
          margin-bottom: 24px;
        }

        .description,
        .countdown,
        .title,
        .timeLeft {
          text-align: center;
        }
      }

      .forms {
        max-width: 560px;
        justify-self: center;
      }

      .seedProgress,
      .seedSummary {
        justify-content: space-evenly;
      }

      .seedProgress {
        .raised {
          grid-template-columns: auto 0.1fr 4fr;
        }

        .tokenId {
          justify-content: center;
        }
      }

      .seedSummary {
        grid-template-rows: auto 46px auto 64px;
        grid-template-areas:
          "targetLabel maxLabel valuationLabel"
          "target max valuation"
          "tokensleftLabel tokenpriceLabel tokenpriceLabel"
          "tokensleft tokenprice tokenprice";

        .value.tokenprice {
          line-height: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .page.seedDashboardContainer {
    .seedDashboard {
      padding-left: initial;
      padding-right: initial;

      .forms {
        .section2,
        .section3,
        .section4 {
          justify-items: center;

          .description {
            justify-self: self-end;
          }

          .help {
            justify-self: center;
            align-self: center;
          }
        }

        .section2 {
          .form {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
              "input units1"
              "equals equals"
              "output units2"
              "vestedMessage vestedMessage";
          }
        }
        .section3 {
          .form {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
              "input units1"
              ". ."
              "output units2"
              "vestedMessage vestedMessage";
          }
        }
      }
      .seedSummary {
        .value {
          font-size: 20px;
        }
        .tokenprice {
          padding-top: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .page.seedDashboardContainer {
    .seedDashboard {
      .seedProgress {
        .raised {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}
