@import "styles/styles.scss";

.page.home {
  .section {
    &.nomiss,
    &.launches {
      margin-bottom: 100px;
    }

    &.nomiss {
      border-radius: 6px;
      & .title {
        margin-bottom: 0px;
      }
    }

    &.top {
      width: 56%;
      margin-bottom: 200px;

      .moonshot {
        position: absolute;
        right: 0;
        z-index: -1;
        background-color: $BG01;

        img {
          mix-blend-mode: lighten;
        }
      }

      .title {
        white-space: normal;
        color: $Shade06;
        padding-bottom: 0.1em;
        max-width: 645px;
      }

      > .subtitle {
        font-family: "Inter";
        font-weight: bold;
        font-size: 1.3rem;
        max-width: 35rem;
        color: $Neutral03;
        margin-bottom: 200px;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width: 710px;

        .contribute,
        .launch {
          border-left-width: 4px;
          border-left-style: solid;
          border-image: linear-gradient(to bottom, #ff497a, #a258a7) 1 100%;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          background-color: $BG02;
          width: 335px;

          padding: 18px;
          padding-right: 24px;

          .title {
            display: flex;
            justify-content: space-between;
            color: $White;
            margin-bottom: 16px;

            .header {
              font-weight: bold;
              font-family: "Aeonik";
              font-size: 28px;
              white-space: nowrap;
              padding-right: 16px;
            }

            .arrow {
              font-size: 28px;
            }
          }

          .subtitle {
            color: $Neutral03;
            font-size: 16px;
            font-family: "Inter";
            mix-blend-mode: normal;
            opacity: 0.8;
          }
        }

        .contribute {
          margin-right: 24px;
        }
      }
    }

    &.launches {
      > .launchesButton {
        text-align: center;
        padding: 2em;
      }
    }

    &.nomiss {
      display: grid;
      grid-template-columns: auto auto;
      background-color: $BG02;
      height: 12em;
      align-content: center;
      justify-content: space-around;
      padding: 6px 0;

      & .title {
        font-family: "Aeonik";
        line-height: unset;
      }

      .subtext {
        color: $Neutral03;
      }

      .emailColumn {
        .form {
          display: flex;
          margin-bottom: 4px;
          width: 28em;

          .emailInput {
            flex-grow: 2;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0px;
          }
          .notifyButton {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
        }

        .disclaimer {
          a {
            color: $Neutral03;
            text-decoration: underline;
          }
        }
      }
    }

    &.fairLaunch {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10%;
      font-family: Inter;

      .pic {
        img {
          width: 450px;
          height: 430px;
        }
      }

      .rightColumn {
        width: 32em;
        .subtext {
          margin-bottom: 48px;
          font-size: 16px;
          line-height: 24px;
          div {
            margin-bottom: 1em;
          }
        }
        .launchButton,
        .learnMore {
          display: inline-block;
        }

        .learnMore {
          @include standardTextGradient();
        }

        .launchButton {
          margin-right: 24px;
        }
      }
    }
  }
}
