@import "styles/colors.scss";
.page.home {
  .section {
    margin-bottom: 20px;

    &.top,
    &.nomiss,
    &.launches {
      margin-left: 4.5em;
      margin-right: 4.5em;
      margin-bottom: 5.75em;
    }

    &.fairLaunch {
      margin-right: 4.5em;
      margin-bottom: 5.75em;
    }

    &.top {
      width: 55%;
      .title {
        white-space: normal;
        color: $color-light-purple;
      }

      > .subtitle {
        color: $color-grey-2;
        margin-bottom: 86px;
      }

      .buttons {
        display: flex;
        cursor: pointer;

        .contribute,
        .launch {
          border-left-width: 4px;
          border-left-style: solid;
          border-image: linear-gradient(to bottom, #ff497a, #a258a7) 1 100%;

          padding-left: 12px;
          padding-top: 6px;
          padding-bottom: 6px;
          width: 200px;

          .title {
            display: flex;
            justify-content: space-between;
            color: $color-white;

            .header {
              font-weight: bold;
              font-size: 28px;
              white-space: nowrap;
              padding-right: 16px;
            }
          }
        }

        .contribute {
          margin-right: 24px;
        }
      }
    }

    &.launches {
      > .launchesButton {
        text-align: center;
      }
    }

    &.nomiss {
      display: grid;
      grid-template-columns: auto auto;
      background: linear-gradient(220.2deg, #8668fc 0%, #a258a7 100%);
      height: 12em;
      align-content: center;
      padding-left: 4em;
      padding-right: 4em;

      .subtext {
        color: $color-white;
      }

      .emailColumn {
        .form {
          display: flex;
          margin-bottom: 4px;

          .emailInput {
            flex-grow: 2;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          .notifyButton {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: $input-border-radius;
            border-bottom-right-radius: $input-border-radius;
          }
        }

        .disclaimer {
          a {
            color: $color-white;
          }
        }
      }
    }

    &.fairLaunch {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10%;

      .pic {
        img {
          width: 350px;
          height: 350px;
        }
      }

      .rightColumn {
        .subtext {
          margin-bottom: 3em;
          div {
            margin-bottom: 1em;
          }
        }
        .launchButton,
        .learnMore {
          display: inline-block;
        }

        .launchButton {
          margin-right: 24px;
        }
      }
    }
  }
}
