@import "styles/colors.scss";
.page.home {
  .section {
    margin-bottom: 20px;

    &.top,
    &.nomiss,
    &.launches {
      padding-left: 4.5em;
      padding-right: 4.5em;
      margin-bottom: 5.75em;
    }

    &.fairLaunch {
      padding-right: 4.5em;
      margin-bottom: 5.75em;
    }

    &.top {
      width: 55%;
      .title {
        white-space: normal;
        color: $color-light-purple;
      }

      > .subtitle {
        color: $color-grey-2;
        margin-bottom: 86px;
      }

      .buttons {
        display: flex;
        cursor: pointer;

        .contribute,
        .launch {
          border-left: 4px solid $color-darkblue;
          padding-left: 12px;
          padding-top: 6px;
          padding-bottom: 6px;
          width: 200px;

          .title {
            display: flex;
            justify-content: space-between;
          }
        }

        .contribute {
          margin-right: 24px;
        }
      }
    }

    &.launches {
      > .title {
        margin-bottom: 24px;
        background: linear-gradient(220.2deg, #ff497a 0%, #a258a7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      > .launchesButton {
        text-align: center;
      }
    }

    &.nomiss {
      display: grid;
      grid-template-columns: auto auto;
      background: linear-gradient(220.2deg, #8668fc 0%, #a258a7 100%);
      height: 10em;
      align-content: center;

      .subtext {
        color: $color-white;
      }

      .emailColumn {
        .form {
          display: flex;

          .emailInput {
            flex-grow: 2;
            margin-right: 10px;
          }
        }

        .disclaimer {
          a {
            color: $color-white;
          }
        }
      }
    }

    &.fairLaunch {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10%;

      .pic {
        img {
          width: 350px;
          height: 350px;
        }
      }

      .rightColumn {
        .subtext {
          div {
            margin-bottom: 1em;
          }
        }
        .launchButton,
        .learnMore {
          display: inline-block;
        }

        .launchButton {
          margin-right: 8px;
        }
      }
    }
  }
}
