@import "styles/styles.scss";


.page.home {
  .footer-subtitle {
    color: rgba(162, 88, 167, 1);
    font-weight: 700;
  }
  .footer-title {
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: Aeonik;
    margin-bottom: 30px;
  }
  .main-launch-sections {
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }
  .row-launch-section {
    display: flex;
  }
  .faq-description-sections {
    color: rgba(147, 152, 168, 1);
    margin-right: 8px;
  }
  .question {
    border-radius: 50%;
    text-align: center;
    background-color: #98979b;
    cursor: default;
    width: 20px;
    height: 20px;
    color: black;
  }
  .launches-cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: start;
  }
  @media screen and (max-width: 730px) {
    .launches-cards-content {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
    }
  }
  .launch-section {
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
    margin-right: 30px;
    cursor: pointer;
    color: rgba(147, 152, 168, 1);
  }
  .launch-line {
    border-bottom: 2px solid #292236;
    width: 100%;
    margin-bottom: 40px;
  }
  .launch-active {
    color: rgba(162, 88, 167, 1);
    border-bottom: 5px solid rgba(162, 88, 167, 1);;
  }
  .footer-learnMore {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
  }
  .button-view-all {
    font-size: 16px;
    font-weight: 700;
    font-family: Inter;
  }
  .section {
    &.nomiss,
    &.launches {
      margin-bottom: 100px;
    }

    &.nomiss {
      border-radius: 6px;
      & .title {
        margin-bottom: 0px;
      }
    }

    &.top {
      width: 56%;
      margin-bottom: 200px;

      .moonshot {
        position: absolute;
        right: 113px;
        z-index: -1;
        background-color: $BG01;

        img {
          mix-blend-mode: lighten;
        }
      }

      .title {
        white-space: normal;
        color: $Shade06;
        padding-bottom: 1.6px;
        max-width: 645px;
      }

      > .subtitle {
        font-family: "Inter";
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        max-width: 582px;
        color: $Neutral03;
        margin-bottom: 55px;
        padding-bottom: 16px;
        white-space: normal;
      }

      .buttons {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        cursor: pointer;
        width: 710px;
        grid-gap: 24px;
        .buttonContainer {
          display: flex;
          border-radius: 6px;
          overflow: hidden;
        }
        .contribute,
        .launch {
          border-left-width: 4px;
          border-left-style: solid;
          border-image: linear-gradient(to bottom, #ff497a, #a258a7) 1 100%;
          border-radius: 6px;
          background-color: $BG02;
          width: 335px;

          padding: 24px;

          .title {
            display: flex;
            justify-content: space-between;
            color: $White;
            margin-bottom: 16px;
            margin-right: 6px;

            .header {
              font-weight: 700;
              font-family: "Aeonik";
              font-size: 28px;
              white-space: nowrap;
              padding-right: 16px;
            }

            .arrow {
              font-size: 28px;
            }
          }

          >.subtitle {
            color: $Neutral03;
            font-size: 16px;
            font-family: "Inter";
            mix-blend-mode: normal;
            opacity: 0.8;
          }
        }
      }
    }

    &.launches {
      .scrollerContainer {
        margin-bottom: 28px;
      }

      > .heading1 {
        -webkit-text-fill-color: $Secondary02;
        margin-bottom: 53px;
      }
      > .launchesButton {
        text-align: center;
        padding: 2em;
      }
      .loading {
        text-align: center;
        font-size: 32px;
        padding-top: 24px;
        i {
          color: $Primary01;
        }
      }
    }

    &.nomiss {
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      background-color: $BG02;
      height: 12em;
      align-content: center;
      justify-content: space-between;
      padding: 6px 100px;
      margin-left: -40px;
      margin-right: -40px;
      column-gap: 24px;

      &.title {
        font-family: "Aeonik";
      }

      .noMissColumn {
        .subtitle.subtext {
          color: $Neutral03;
          font-size: 18px;
        }
      }

      .emailColumn {
        .form {
          width: 400px;
          display: flex;
          margin-bottom: 4px;
          align-items: center;

          .emailInput {
            flex-grow: 2;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            height: 45px;
            border: 1px solid $Border01;
            color: $White;
          }

          .notifyButton {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            margin-left: 0;
          }
        }

        .disclaimer {
          text-align: left;
          a {
            color: $Neutral02;
            text-decoration: underline;
          }
        }
      }
    }

    &.fairLaunch {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 80px;
      font-family: Inter;

      .pic {
        img {
          border-radius: 10px;
        }
      }

      .rightColumn {
        > .heading1 {
          -webkit-text-fill-color: $Secondary02;
        }
        .subtext {
          margin-bottom: 48px;
          font-size: 16px;
          line-height: 24px;
          div {
            margin-bottom: 16px;
          }
        }
        .launchButton,
        .learnMore {
          display: inline-block;
        }

        .learnMore {
          @include standardTextGradient();
          font-weight: 600;

          &:hover {
            border-bottom: 1px solid $Secondary02;
          }

          a:hover {
            text-decoration: none;
          }
        }

        .launchButton {
          margin-right: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 1530px) {
  .page.home {
    .section {
      &.top {
        .moonshot {
          img {
            opacity: 0.25;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1072px) {
  .page.home {
    .section {
      &.top,
      &.launches,
      &.fairLaunch .rightColumn,
      &.nomiss .noMissColumn {
        > .title {
          white-space: normal;
          text-align: center;
          width: auto; // so text-align:center works
          max-width: unset;
        }
      }

      &.top {
        margin-bottom: 100px;
        width: 100%;
        .moonshot {
          right: 0;
          left: 0;
          top: 0;
          overflow: hidden;
        }

        > .subtitle {
          margin-bottom: 48px;
          text-align: center;
          max-width: unset;
        }

        .buttons {
          justify-content: center;
          grid-auto-flow: row;
          width: 100%;
          align-items: center;
        }
      }

      &.launches {
        .scrollerContainer {
          margin-bottom: 0;
        }
      }

      &.nomiss {
        grid-template-columns: auto;
        height: unset;
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
        padding: 20px;

        .noMissColumn {
          > .subtitle.subtext {
            text-align: center;
            margin-bottom: 12px;
          }
        }

        .emailColumn {
          .form {
            justify-content: center;
            width: unset;

            .emailInput {
              max-width: 155px;
            }
          }
          .disclaimer {
            padding: 0 20px;
            text-align: center;
          }
        }
      }

      &.fairLaunch {
        grid-template-columns: auto;
        grid-template-areas: "rightColumn" "pic";
        column-gap: unset;
        row-gap: 48px;
        text-align: center;
        .pic {
          grid-area: pic;
          img {
            width: 75%;
          }
        }
        .rightColumn {
          grid-area: rightColumn;
          width: 100%;
          .launchButton {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .page.home {
    .section {
      &.fairLaunch {
        .pic {
          img {
          }
        }
      }
    }
  }
}
