@import "styles/styles.scss";

.graph {
  .loading {
    text-align: center;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    i {
      color: $Primary01;
    }
  }
}
