@import "styles/colors.scss";
.pools {
  .subtitle {
    margin-bottom: 20px;
  }
  .body {
    .poolButtons {
      display: flex;
      justify-content: space-between;
      padding-right: 36px;

      .pool:not(:last-child) {
        margin-right: 36px;
      }

      .pool {
        width: 33%;
        margin-bottom: 30px;
        cursor: pointer;

        .poolButton {
          padding-right: 13px;
          padding-left: 17px;
          padding-top: 6px;
          padding-bottom: 6px;
          font-size: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 12px;

          &.isPreview {
            cursor: default;
          }

          > .icon {
            width: 20px;
            height: 20px;
            border: 2px solid $color-white;
            border-radius: 12px;
          }
        }
        > .description {
          font-size: 13px;
          padding-left: 6px;

          .comingSoon {
            display: inline-block;
            font-weight: bold;
            margin-right: 8px;
            color: $color-lightblue;
          }
        }
      }
    }

    .poolRows {
      .poolRow {
        padding: 30px 20px;
        border-top: 1px solid #eeeeee;
        display: grid;
        grid-template-columns: 160px repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
          "name name name name name name name"
          "donutchart marketCap priceDelta1 priceDelta2 priceDelta3 chart addLiquidity"
          "donutchart price assets assets assets assets assets";
        column-gap: 30px;
        row-gap: 24px;

        .priceDelta1,
        .priceDelta2,
        .priceDelta3 {
          white-space: nowrap;
          .poolDataValue {
            color: #5aae2a;
            &.negative {
              color: $color-red;
            }
          }
        }

        .poolDataHeader {
          padding-bottom: 6px;
          border-bottom: 2px solid #1ee0fc;
          margin-bottom: 8px;
          font-weight: bold;
          font-family: "Cera Pro";
        }
        .name {
          grid-area: name;
          font-family: "Cera Pro";
          font-weight: bold;
        }
        .donutchart {
          grid-area: donutchart;
          cursor: pointer;
        }
        .marketCap {
          grid-area: marketCap;
          white-space: nowrap;
        }
        .priceDelta1 {
          grid-area: priceDelta1;
        }
        .priceDelta2 {
          grid-area: priceDelta2;
        }
        .priceDelta3 {
          grid-area: priceDelta3;
        }
        .chart {
          white-space: nowrap;
          grid-area: chart;

          .sparkChart {
            height: 32px;
          }
        }
        .addLiquidity {
          grid-area: addLiquidity;
          text-align: center;
        }
        .price {
          grid-area: price;
          white-space: nowrap;
          .poolDataValue {
            font-weight: bold;
          }
        }
        .assets {
          grid-area: assets;

          .poolDataHeader {
            border-bottom: 2px solid transparent;
          }

          > .tokens {
            display: flex;
            > .token {
              display: flex;
              align-items: center;
              margin-right: 8px;
              font-size: 12px;

              > .icon {
                margin-right: 8px;

                img {
                  width: 24px;
                  border-radius: 12px;
                }
              }

              .symbol {
                margin-right: 4px;
              }
            }
          }
        }
      }

      .poolRow:last-child {
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 40px;
      }
    }
    .share {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: $color-light-purple;

      a {
        color: $color-green;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .pools {
    .body {
      .poolRows {
        .poolRow {
          grid-template-columns: 160px repeat(3, 1fr);
          grid-template-areas:
            "name name name name"
            "donutchart marketCap chart addLiquidity"
            "donutchart price assets assets";
          row-gap: 18px;

          .addLiquidity {
            .poolDataHeader {
              text-align: center;
            }
          }
          .priceDelta1,
          .priceDelta2,
          .priceDelta3 {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1085px) {
  .pools {
    .body {
      .poolRows {
        .poolRow {
          grid-template-columns: 160px repeat(2, 1fr);
          grid-template-areas:
            "name name name"
            "donutchart marketCap addLiquidity"
            "donutchart price assets";

          .addLiquidity {
            .poolDataHeader {
              text-align: center;
            }
          }

          .chart {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1042px) {
  .pools {
    text-align: center;

    .subtitle {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      width: 60%;
    }

    .body {
      .poolButtons {
        flex-direction: column;
        align-items: center;
        padding-right: 0;

        .pool {
          width: 42%;
        }

        .pool:not(:last-child) {
          margin-right: 0;
          padding-bottom: 18px;
          margin-bottom: 38px;
          border-bottom: 1px solid #eeeeee;
        }
      }

      .poolRows {
        .poolRow {
          grid-template-columns: 1fr 1fr;
          grid-template-areas:
            "name name"
            "donutchart donutchart"
            "marketCap price"
            "addLiquidity addLiquidity";

          .donutchart {
            width: 160px;
            margin: auto;
          }
          .assets {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .pools {
    text-align: center;

    .subtitle {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      width: 60%;
    }

    .body {
      .poolButtons {
        .pool {
          .poolButton {
            font-size: 11px;
            padding-top: 3px;
            padding-bottom: 3px;

            > .icon {
              width: 17px;
              height: 17px;
            }
          }
        }
      }
    }
  }
}
