@import "styles/styles.scss";
.page.launches {
  .section {
    &.featured,
    &.launches {
      .loading {
        text-align: center;
        font-size: 32px;
        padding-top: 24px;
        i {
          color: $Secondary03-dev;
        }
      }
    }

    &.featured {
      margin-bottom: 92px;

      .scrollerContainer {
        margin-bottom: 28px;
      }
    }

    &.launches {
      .grid {
        margin-bottom: 20px;
        font-size: 16px;

        .row {
          display: contents;
          cursor: default;

          &:hover {
            text-decoration: none;
          }

          .cell {
            margin-bottom: 16px;
          }

          &.body .cell.hot {
            cursor: pointer;
          }

          &.body.hot:hover .cell.body {
            background-color: $BG02;
          }

          .cell {
            padding: 10px 0;

            /**
             * for when columns get scrunched together
             */
            &:not(:nth-of-type(n + 8)) {
              padding-right: 12px;
            }

            &.header {
              color: $Neutral02;

              &.sortable {
                cursor: pointer;
              }
            }

            &.project {
              overflow-x: hidden;
              text-overflow: ellipsis;
            }

            &.whitelist,
            &.starts,
            &.type,
            &.eslink {
              text-align: center;
            }

            &.projectToken,
            &.fundingToken {
              white-space: nowrap;

              img {
                margin-right: 6px;
                @include tokenIcon;
                position: relative;
                top: 4px;
              }
            }

            &.eslink {
              i {
                cursor: pointer;
                color: $Secondary01-dev;
              }
            }
          }
        }
      }

      .launchGrid {
        display: grid;
        grid-template-columns: 2fr 0.5fr 0.5fr 0.75fr 0.75fr 0.75fr 0.5fr;
        grid-template-rows: auto;
        align-items: center;

        .row {
          &.header {
            .cell {
              border-bottom: 1px solid $Secondary02;

              &.projectToken,
              &.fundingToken {
                white-space: nowrap;
              }
            }
          }
        }
      }

      .launchGridMobile {
        display: none;
        grid-template-columns: 1fr 0.5fr 0.5fr auto;
        grid-template-rows: auto auto;
        align-items: self-end; // makes header borders line up

        .row {
          &.header {
            .cell:nth-of-type(n + 5) {
              border-bottom: 1px solid $Secondary02;
              color: $Neutral02;
              opacity: 0.6;
            }
          }

          .cell {
            padding: 2px 0;
            text-align: left !important;

            &:not(:nth-of-type(n + 5)) {
              padding-right: 8px;
            }

            &.whitelist,
            &.eslink {
              text-align: center !important;
              padding-right: 0;
            }

            /**
             * cells in first subrow of each row
             */
            &:nth-of-type(n):nth-of-type(-n + 4) {
              padding-top: 12px;
              margin-bottom: 0;
            }

            /**
             * cells in second subrow of each row
             */
            &:nth-of-type(n + 5):nth-of-type(-n + 8) {
              padding-bottom: 12px;
              color: $Neutral02;

              .etherscanlink .text,
              .copy-to-clip-button {
                color: $Neutral02;
              }
            }

            &.body {
              &.starts {
                .timeLeftContainer {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .seeMore {
        display: flex;
        color: $Neutral02;
        cursor: pointer;

        > .arrow {
          margin-right: 6px;
        }
      }
    }
  }
}

@media screen and (max-width: 1072px) {
  .page.launches {
    .section {
      > .title {
        white-space: normal;
        text-align: center;
        width: auto; // so text-align:center works
        max-width: unset;
      }

      &.featured {
        .scrollerContainer {
          margin-bottom: 0;
        }
      }

      &.launches {
        .grid {
          font-size: 14px;
        }
        .launchGrid {
          display: none;
        }
        .launchGridMobile {
          display: grid;
        }
      }
    }
  }
}
