@import "styles/colors.scss";
.page.launches {
  .section {
    &.featured {
      margin-bottom: 92px;

      .scrollerContainer {
        margin-bottom: 28px;
      }
    }

    &.launches {
      .launchGrid {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: auto;
        align-items: center;
        margin-bottom: 20px;
        font-size: 16px;

        .row {
          display: contents;
          cursor: default;

          &:hover {
            text-decoration: none;
          }

          &:not(:first-child) {
            .cell.hot {
              cursor: pointer;
            }
          }

          &:hover > div {
            background-color: $BG02;
          }

          &:first-of-type > div {
            border-bottom: 1px solid $Border03;
          }

          > div {
            border-bottom: 1px solid $Border03;
          }
        }

        .cell {
          white-space: nowrap;
        }

        .cell,
        .header {
          padding: 10px 0;

          &.pair {
            padding-left: 12px;
          }

          &.cap {
            padding-right: 12px;
          }

          &.target,
          &.eslink,
          &.cap {
            text-align: right;
          }

          &.whitelist,
          &.starts,
          &.type {
            text-align: center;
          }
        }

        .cell {
          &.pair {
            padding: 6px 0;
          }
        }
      }

      .seeMore {
        display: flex;
        color: $Neutral02;
        cursor: pointer;

        > .arrow {
          margin-right: 6px;
        }
      }
    }
  }
}

@media screen and (max-width: 1072px) {
  .page.launches {
    .section {
      .title {
        white-space: normal;
        text-align: center;
        width: auto; // so text-align:center works
        max-width: unset;
      }

      &.featured {
        .scrollerContainer {
          margin-bottom: 0;
        }
      }

      &.launches {
      }
    }
  }
}
