@import "styles/colors.scss";

.connectButtonContainer {
  display: inline-block;
  padding-left: 14px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 0.75rem;
  border: 1px solid;
  background-color: rgb(33, 36, 41);
  border-color: transparent;
  z-index: 1000;

  .connectButton {
    display: inline-block;
    padding: 0.6rem 0.9rem;
    border-radius: 0.75rem;
    white-space: nowrap;
    color: rgb(109, 168, 255);
    background-color: rgb(33, 36, 41);
    border: 1px solid rgba(21, 61, 111, 0.44);
    cursor: pointer;
    font-weight: 500;

    &:hover,
    &:focus {
      color: rgb(83, 153, 255);
    }
  }

  .connectedButtons {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    .ethBalanceContainer {
      display: inline-block;
      white-space: nowrap;

      &.ETH {
        margin-right: 0.5em;
      }
    }
  }

  &.connected {
    background-color: rgb(64, 68, 79);
    border-color: rgba(21, 61, 111, 0.44);

    .separator {
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
      position: relative;
      bottom: 1px;
      color: $button1-color;
    }

    .connectedButtons {
      .connectButton {
        cursor: default;
        text-align: center;
        border: 0;
        color: white;
        border-color: transparent;

        .pending {
          .phase {
            display: inline-block;
            margin-right: 6px;
          }
          i {
            color: rgb(109, 168, 255);
          }
          &.confirming {
            cursor: pointer;
            .phase:hover {
              text-decoration: underline;
            }
          }
        }

        .etherscanlink a {
          color: white;
          text-decoration: none;

          &:hover,
          &:focus {
            color: white;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 912px) {
  .connectButtonContainer {
    &.connected {
      padding-left: 0;
      .connectedButtons {
        .connectButton {
          margin-left: 0;
        }
        .ethBalanceContainer,
        .separator {
          display: none;
        }
      }
    }
  }
}
