@import "styles/colors.scss";

.connectButtonContainer {
  display: inline-block;
  border-radius: 5px;
  background-color: $BG02;
  z-index: 1000;

  .connectButton {
    display: inline-block;
    padding: 0.6rem 0.9rem;
    border-radius: 5px;
    white-space: nowrap;
    color: $Secondary05;
    background-color: $BG02;
    cursor: pointer;
    font-weight: 500;

    &:hover,
    &:focus {
      color: $Secondary06;
    }
  }

  .connectedButtons {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    .ethBalanceContainer {
      display: inline-block;
      white-space: nowrap;

      &.ETH {
        margin-right: 0.5em;
      }
    }
  }

  &.connected {
    background-color: $BG05;
    border-color: $BG05;

    .separator {
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
      position: relative;
      bottom: 1px;
      color: $Secondary06;
    }

    .connectedButtons {
      .connectButton {
        cursor: default;
        text-align: center;
        border: 0;
        color: white;
        border-color: transparent;

        .pending {
          .phase {
            display: inline-block;
            margin-right: 6px;
          }
          i {
            color: $Secondary05;
          }
          &.confirming {
            cursor: pointer;
            .phase:hover {
              text-decoration: underline;
            }
          }
        }

        .etherscanlink a {
          color: white;
          text-decoration: none;

          &:hover,
          &:focus {
            color: white;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 912px) {
  .connectButtonContainer {
    &.connected {
      padding-left: 0;
      .connectedButtons {
        .connectButton {
          margin-left: 0;
        }
        .ethBalanceContainer,
        .separator {
          display: none;
        }
      }
    }
  }
}
