@import "styles/colors";
// This styles are common to all the stages components
// Theme for the stages
@mixin stageTheme {
  * {
    font-size: 1rem;
    font-family: inter;
  }
  .infoContainer {
    background-color: $color-black-3;
    border: 1px solid $color-darkpink-2;
    border-radius: 1.5em;
    padding: 2em;
    min-width: 40rem;
    .title {
      font-size: 1.625em;
      color: $color-white;
      line-height: 2em;
      font-weight: bold;
    }
    .subtext {
      line-height: 1.5em;
      font-size: 1em;
      color: #dcdae5;
      margin-bottom: 5em;
    }
    .infoInput {
      margin-bottom: 2em;
    }
    .buttonContainer {
      display: flex;
      flex-flow: row wrap;
      column-gap: 3em;
      font-weight: bold;
      margin-top: 5em;
      .stageButton {
        width: 7em;
        height: 2.4em;
        font-size: 1em;
        line-height: 1em;
        letter-spacing: 0.04em;
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .stageButton.proceed {
        background-color: $color-white;
        border-radius: 2.2em;
        color: $color-black;
      }
    }
    label {
      display: block;
      font-size: 1.1em;
      line-height: 2em;
      color: $color-white;
    }
    input {
      width: 26em;
      height: 2.7em;
      background-color: #1b1722;
      border: 1px solid $color-darkpink-2;
      border-radius: 0.6em;
      font-size: 1.1em;
      color: #989798;
      font-weight: 200;
    }
    a {
      color: #989798;
      text-decoration: underline;
    }
  }
}
.page.stageContainer {
  @include stageTheme();
  &.stage1 {
    .infoContainer {
      width: 100%;
      .infoInput {
        .optional {
          padding-left: 0.3em;
          font-weight: lighter;
        }
      }
      .otherLinks {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        margin-bottom: 2em;
        > div:first-of-type {
          input {
            width: 11em;
          }
        }
        .addLinkContainer {
          display: flex;
          align-items: flex-end;
          flex-flow: column;
          input {
            width: 21em;
          }
          .deleteLink {
            cursor: pointer;
            justify-self: flex-end;
          }
          .addLink {
            cursor: pointer;
            padding-right: 1em;
          }
        }
      }
      .addSingleLink {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
      }
    }
  }
  &.stage2 {
    .infoContainer {
      .infoInput {
        margin-bottom: 4em;
        textarea {
          resize: none;
          width: 25em;
          height: 4.5em;
          border-radius: 0.625em;
          background-color: #1b1722;
          font-weight: 200;
          color: #989798;
        }
        .labelContainer {
          width: 25em;
          display: flex;
          justify-content: space-between;
          flex-flow: row nowrap;
          color: #989798;
        }
      }
    }
  }
}
