@import "styles/colors";
// This styles are common to all the stages components

.page.stageContainer {
  &.stage1 {
    .infoContainer {
      background-color: $color-black-2;
      padding: 2em;
      border-radius: 15px;
      width: 100%;
      .title {
        font-size: 1.5rem;
      }
      label {
        display: block;
        padding-bottom: 0.5em;
        font-weight: bolder;
      }
      .subtext {
        margin-bottom: 4em;
      }
      .infoInput {
        margin-bottom: 2em;
        input {
          width: 30em;
          height: 3em;
          border-radius: 5px;
        }
      }
      .otherLinks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 2em;
        > div:first-of-type {
          margin-right: 2em;
        }
      }
      .buttonContainer {
        display: flex;
        flex-wrap: wrap;
        .button {
          padding: 6px 18px;
          background-color: $color-white;
          color: $color-black;
          // Put space between them
          margin-right: 2em;
        }
        .button:first-of-type {
          // Background color matches container
          padding: 6px 1px;
          background-color: $color-black-2;
          border-color: $color-black-2;
          color: $color-white;
        }
      }
    }
  }
  &.stage2 {
    .infoContainer {
      background-color: $color-black-2;
      padding: 2em;
      width: 100%;
      border-radius: 15px;
      .title {
        font-size: 1.5rem;
      }
      label {
        display: block;
        padding-bottom: 0.5em;
        // TODO: Make font weightier
        font-weight: bolder;
      }
      .subtext {
        margin-bottom: 2em;
      }
      .infoInput {
        margin-bottom: 2em;
        textarea {
          resize: none;
          width: 30em;
          height: 4em;
          border-radius: 5px;
        }
      }
      .otherLinks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 2em;
        > div:first-of-type {
          margin-right: 2em;
        }
      }
      .buttonContainer {
        display: flex;
        flex-wrap: wrap;
        padding-top: 4em;
        .button {
          padding: 6px 18px;
          background-color: $color-white;
          color: $color-black;
          // Put space between them
          margin-right: 2em;
        }
        .button:first-of-type {
          // Background color matches container
          padding: 6px 1px;
          background-color: $color-black-2;
          border-color: $color-black-2;
          color: $color-white;
        }
      }
    }
  }
  &.stage3 {
    .infoContainer {
      background-color: $color-black-2;
      padding: 2em;
      width: 100%;
      border-radius: 15px;
      font-size: 1.5rem;
      label {
        display: block;
        padding-bottom: 0.5em;
      }
      .subtext {
        margin-bottom: 2em;
      }
      .infoInput {
        margin-bottom: 2em;
      }
      .otherLinks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 2em;
        > div:first-of-type {
          margin-right: 2em;
        }
      }
      .buttonContainer {
        display: flex;
        flex-wrap: wrap;
        .button {
          padding: 6px 18px;
          background-color: $color-white;
          color: $color-black;
          // Put space between them
          margin-right: 2em;
        }
        .button:first-of-type {
          // Background color matches container
          padding: 6px 1px;
          background-color: $color-black-2;
          border-color: $color-black-2;
          color: $color-white;
        }
      }
    }
  }
  &.stage4 {
    .infoContainer {
      background-color: $color-black-2;
      padding: 2em;
      width: 80%;
      border-radius: 15px;
      font-size: 1.5rem;
      label {
        display: block;
        padding-bottom: 0.5em;
      }
      .subtext {
        margin-bottom: 2em;
        a {
          color: inherit;
          text-decoration: underline;
          text-decoration-color: $color-bluegreen;
        }
      }
      .infoInput {
        margin-bottom: 2em;
      }
      .infoInput.startTime {
        display: flex;
        flex-flow: row wrap;
        gap: 2em;
      }
      .infoInput.endTime {
        display: flex;
        flex-flow: row wrap;
        gap: 2em;
      }
      .infoInput.rights {
        display: flex;
        flex-flow: row wrap;
        gap: 2em;
        .controller {
          flex: 1.5;
        }
        .rights {
          flex: 1;
        }
      }
      .otherLinks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 2em;
        > div:first-of-type {
          margin-right: 2em;
        }
      }
      .buttonContainer {
        display: flex;
        flex-wrap: wrap;
        .button {
          padding: 6px 18px;
          background-color: $color-white;
          color: $color-black;
          // Put space between them
          margin-right: 2em;
        }
        .button:first-of-type {
          // Background color matches container
          padding: 6px 1px;
          background-color: $color-black-2;
          border-color: $color-black-2;
          color: $color-white;
        }
      }
    }
  }
}
