@import "styles/styles.scss";

.page.adminContainer {
  .seedsDropdown {
    margin-bottom: 40px;
  }

  .connectContainer {
    margin-top: 40px;

    .buttonContainer {
      display: flex;
      justify-content: center;
    }

    .supportTextContainer {
      margin-top: 30px;
      display: flex;
      justify-content: center;

      .connectButtonSupportText {
        color: #dcdae5;
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        font-style: normal;
        font-weight: normal;
      }
    }
  }

  .formContainer {
    .header {
      display: flex;
      column-gap: 16px;
      align-items: center;

      + hr {
        background-color: $Secondary02;
        height: 1px;
      }
    }

    .body {
      display: flex;
      flex-flow: wrap;
      gap: 125px;
      .seedSelector {
        width: clamp(260px, 100%, 350px);
      }

      .seedSelected {
        width: clamp(550px, 100%, calc(100% - 485px));
      }

      .featureContainer {
        padding: 5px;
        margin: 15px 0px;
        &:last-child hr {
          display: none;
        }

        & > hr {
          background-color: inherit;
          margin: 0;
          border-bottom: 1px solid $Border01;
        }

        .featureTitle {
          font-size: 18px;
          font-family: 'Inter';
          font-weight: 700;
          margin-bottom: 11px;
          color: $Secondary02;
          &.small {
            font-size: 14px;
            color: $Secondary05;
          }
        }

        .featureDescription {
          display: flex;
          flex-direction: column;
          align-self: center;
          color: $Neutral03;
          font-size: 16px;
          margin-bottom: 16px;
          .important {
            color: $AlertOrange;
          }

          .fundingTokensContainer {
            display: flex;
            align-items: center;
          }
        }

        .inputWrapper {
          display: flex;
          align-items: center;
        }
      }

      .tokenDetails {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        gap: 32px;
        >span {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-family: 'Inter';
        }
      }

      .tokenImage {
        @include tokenIcon;
        width: 25px;
        height: 25px;
        margin: 0 6px;
        border-radius: 50%;
      }

      .button1 {
        margin-bottom: 40px;
        margin-left: 0;
        &.disabled {
          background: $Neutral02;
          cursor: not-allowed;
        }
      }

      .fundButton {
        margin-bottom: unset; // from .button1
        width: 45px;
      }

      .buttonContainer {
        margin-top: 24px;
        .previousButton {
          text-transform: uppercase;
          display: flex;
          gap: 15px;
          &.disabled {
            border-color: $Neutral02;
            color: $Neutral02;
            cursor: not-allowed;
          }
        }
        .cancel {
          &.disabled {
            color: $Neutral02;
            cursor: not-allowed;
          }
        }
      }

      .noSeedCreatedMessage {
        padding-top: 15px;
      }

      .actionPanel {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .deployActions {
          display: flex;
          gap: 44px;
          align-items: center;
          .button1 {
            gap: 14px;
          }
        }
        * {
          margin-bottom: unset;
        }
      }
    }

    .classes-overview-container {
      background: $BG02;
      border: 2px solid $BG01;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 10px;
      margin-top: 32px;
      margin-bottom: 40px;
      min-width: 490px;
    }

    .classes-overview-container__para {
      color: $AlertOrange;
      line-height: 24px;
      margin:0;
    }

    .classes-overview-container__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: $Neutral04;

    }

    .classes-overview-container__table-container {
      background: $BG01;
      border-radius: 10px;
      padding: 4px;
    }

    .classes-overview-container__table {
      width: 100%;
      border-collapse:separate;
      font-size: 16px;
      border-spacing: 16px;
      border: none;
      tr.loading {
        color: $Neutral02;
        i {
          color: $Primary01;
        }
      }

      tr, td {
        border: none;
      }
      th {
        color: $Secondary02;
        text-align: start;
        font-weight: 700;
      }
      td {
        font-weight: 400;
      }

      .table__edit-icon {
        cursor: pointer;
        height: 18px;
        width: 18px;

        &.disabled {
          filter: brightness(0.35);
          cursor: not-allowed;
        }
      }

      .table__center-cell {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .content-classes {
      display: grid;
      grid-template-columns: 1fr 1.7fr;
      margin-left: 100px;
    }
  }
}
