@import "styles/colors.scss";
.questionMark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  background-color: $color-grey-5;

  > .mark {
    color: $color-black;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    height: 100%;
    position: relative;
    bottom: 1px;
  }
}
