@import "styles/colors.scss";
.timeRemainingContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  column-gap: 42px;

  &.complete {
    grid-template-columns: auto auto;

    .timeRemaining {
      display: none;
    }
  }

  .label {
    font-family: Aeonik;
    font-size: 14px;
    color: $Neutral03;
  }
  .value {
    font-family: Inter;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 5px;

    img {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 550px) {
  .timeRemainingContainer {
    grid-template-columns: auto;
    justify-items: center;

    grid-template-areas:
      "timeRemainingHeader"
      "timeRemaining"
      "launchSupplyHeader"
      "launchSupply"
      "averagePriceHeader"
      "averagePrice";

    & .value {
      width: 100%;
      justify-content: flex-start;
    }

    .timeRemaining.label {
      grid-area: timeRemainingHeader;
    }

    .launchSupply.label {
      grid-area: launchSupplyHeader;
    }

    .averagePrice.label {
      grid-area: averagePriceHeader;
    }

    .timeRemaining.value {
      grid-area: timeRemaining;
      margin-bottom: 20px;
    }

    .launchSupply.value {
      grid-area: launchSupply;
      margin-bottom: 20px;
    }

    .averagePrice.value {
      grid-area: averagePrice;
      margin-bottom: 20px;
    }

    justify-content: space-evenly;
    column-gap: 20px;

    &.complete {
      grid-template-columns: auto auto;
    }
  }
}
