body > ux-dialog-container {
  top: 50%;
  right: unset;
  bottom: unset;
  left: 50%;
  transform: translate(-50%, -50%);

  ux-dialog {
    ux-dialog-footer {
      .button1 {
        &.small {
          width: 98px;
        }
      }
    }
  }
}
