@import "styles/colors.scss";

.launch-preview-container {
  color: $Neutral03;

  .info {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px 0;

    .first-row, .second-row {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;
      justify-content: space-around;
      min-width: 200px;
    }
    .header, .container {
      color: $Neutral03;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      padding: 0;
    }
    .header {
      font-weight: 700;
    }
    .container {
      font-weight: 400;
    }
  }

  .graph {
    height: 120px;
  }
}