@import "styles/colors.scss";

.launch-preview-container {
  display: grid;
  color: $Neutral03;
  grid-template-rows: auto fill-content;

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    align-items: start;
    justify-items: start;
    padding: 20px 0;
    width: 100%;

    .header, .container {
      color: $Neutral03;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      padding: 0;
    }
    .header {
      font-weight: 700;
    }
    .container {
      font-weight: 400;
    }
  }
}