@import "styles/styles.scss";

ux-dialog-container {
  overflow: hidden;
  top: 10vh;
  right: 10vw;
  bottom: 10vh;
  left: 10vw;
  padding-bottom: 4px; // for some reason is needed to make room for the footer

  > div {
    margin: 0 !important;
    padding: 0;
    height: 100%;
    > div {
      height: 100%;
    }
  }

  ux-dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $White;
    background: linear-gradient(to bottom, $Primary01 0%, $Secondary02 100%);
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 4px;
    // border-top: 1px solid $Secondary02;
    // border-bottom: 1px solid $Secondary02;
    // border-right: 1px solid $Secondary02;
    border-radius: 6px;
    min-width: 160px;

    ux-dialog-header,
    ux-dialog-body,
    ux-dialog-footer {
      background-color: $BG02;
    }

    ux-dialog-header {
      border: none;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      .heading {
        @include standardTextGradient;
      }
    }

    ux-dialog-body {
      border-top: 1px solid $White;
      overflow: auto;
      flex-grow: 2;
    }
    ux-dialog-footer {
      border-top: 1px solid $White;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &.disclaimer {
    }

    &.alert {
    }
  }
}

ux-dialog-overlay {
  background-color: $BG01;
}
