/**
  This file is for inclusion in index.ejs, before we have access to the scss, which currently
  we only compile via typescript import and resulting webpack bundling.
*/

body {
  background-color: #1b1722;
  margin: 0;
  text-align: center;
}

div.prepage {
  padding-top: 120px;
  display: inline-block;
  max-width: 800px;
}

div.prepage > .body {
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  margin-bottom: 18px;

  background-image: linear-gradient(220.2deg, #ff497a 0%, #a258a7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.prepage > img {
  width: 186px;
  height: 186px;
  margin-bottom: 28px;
}
