@import "styles/styles.scss";

.lbpDashboardForm {
  .tokenSelect {
    .tokenItem {
      font-weight: 700;
      color: $White;
    }
    .dropdown {
      width: fit-content;
      border: none;
    }
  }
}
