@import "styles/styles.scss";

.lbpDashboardForm {
  width: 360px;

  @mixin subtext {
    font-family: Inter;
    color: $Neutral02;
    font-size: 14px;
  }

  .connect {
    .description {
      padding-top: 16px;
      padding-bottom: 8px;
      font-size: 22px;
    }
    .subdescription {
      @include subtext;
      padding-left: 0px;
      padding-right: 29px;
      padding-bottom: 16px;
    }
  }

  .theform {
    .body {
      width: fit-content;
      margin-bottom: 16px;

      input {
        font-family: Inter;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
      }

      .section1,
      .section2,
      .section3 {
        border-radius: 8px;
        padding: 10px;
        display: flex;
        align-items: center;
        input {
          width: 140px;
        }
      }

      .section1 {
        .tokenSelect {
          .tokenItem {
            font-weight: 700;
            font-family: Inter;
            font-size: 18px;
            color: $White;
          }
          .dropdown {
            width: 140px;
            .selectedLabel {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              background-color: $BG02;
            }
            .menu {
              border-top-right-radius: 0;
              hr,
              .option {
                background-color: $BG02;
              }
              .option:hover {
                background-color: $Border01;
              }
            }
          }
        }

        .fundingAmount {
          background-color: $BG02;
          padding: 12px 16px;
          border: 1px solid $Border01;
          border-left: none;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;

          .fundingInput {
            display: flex;
            justify-content: space-between;
            column-gap: 8px;
            input {
              border: none;
              background-color: transparent;
              padding: 0;
              margin-bottom: 1px;
            }

            .maxButton {
              outline: none;
            }
          }

          .balance {
            @include subtext;
            font-size: 11px;
          }
        }
      }

      .section2 {
        justify-content: center;
        padding: 4px 0;

        .exchangeInfo {
          @include subtext;

          display: flex;

          .arrow {
            color: $White;
            font-size: 18px;
            padding-right: 6px;
          }

          .text {
            padding-top: 2px;
          }
        }
      }

      .section3 {
        font-weight: 700;
        font-family: Inter;
        font-size: 18px;

        .projectTokenInfo,
        .purchaseInfo {
          height: 61px;
        }

        .projectTokenInfo {
          width: 118px;
          padding: 0 10px;
          background-color: $BG02;
          display: flex;
          align-items: center;
          border: 1px solid $Border01;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          img {
            @include tokenIcon;
            width: 36px;
            height: 36px;
            border-radius: 18px;
            margin-right: 8px;
          }
        }

        .purchaseInfo {
          flex-grow: 2;
          padding: 0 16px;
          background-color: $BG02;
          border: 1px solid $Border01;
          border-left: none;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          display: flex;
          align-items: center;
          width: 122px;

          .price {
            overflow-x: clip;
          }
        }

        .priceImpact {
          background-color: $BG02;
          @include subtext;
          font-size: 11px;
        }
      }
    }

    .buttons {
      margin-bottom: 20px;
      button {
        width: 100%;
      }
    }

    .footer {
      @include subtext;
      font-weight: 700;
      font-size: 10px;
      display: flex;
      align-content: center;
      justify-content: right;
      color: $Secondary05;

      .powered {
        margin-right: 6px;
      }

      img {
        height: 13px;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .lbpDashboardForm {
    width: 303px;
    .theform {
      .body {
        .section1,
        .section2,
        .section3 {
          input {
            width: 80px;
          }
        }
      }
    }
  }
}
