@import "styles/colors.scss";
.donutChartContainer {
  position: relative; // so we can give the .poolIconContainer an absolute position and it won't take up space when invisible.

  .donutChart {
    .centerInnerCircleContainer {
      display: none;
      &.show {
        display: inline-block;
      }
      .centerInnerCircle {
        fill: $color-white;
        stroke: $color-light-purple;
      }

      .centerTextContainer {
        .lines {
          display: flex;
          flex-direction: column;
          text-align: center;
          height: 100%;
          justify-content: center;

          .line {
            font-size: 10px;
            font-family: Aeonik;
            white-space: nowrap;

            .label,
            .value,
            .direction {
              display: inline-block;
            }

            .label {
              margin-right: 4px;

              &::after {
                content: ":";
              }
            }

            &.icon {
              height: 29px;
              img {
                width: 26px;
                border-radius: 13px;
              }
            }

            &.perc,
            &.price,
            &.daychange {
              display: inline-block;

              .label {
                font-weight: bold;
              }
            }

            &.daychange {
              .signedValue {
                color: #5aae2a;
                display: inline-block;
                &.negative {
                  color: $color-red;
                }
              }
            }
          }
        }
      }
    }
  }

  .poolIconContainer {
    display: none;
    position: absolute;
    top: 48px;
    left: 48px;

    &.interactive {
      top: 96px;
      left: 96px;
    }

    &.show {
      display: inline-block;
    }
  }
}
