@import "styles/colors.scss";

$colours: (
  1: $Shade01,
  2: $Shade02,
  3: $Shade03,
  4: $Shade04,
  5: $Shade05,
  6: $Shade06,
  7: $Secondary01,
  8: $Secondary02,
  9: $Secondary03,
  10: $Secondary04,
  11: $Secondary05,
  12: $Neutral03,
  13: $Primary01,
  14: $Primary02,
  15: $Secondary01-dev,
);

.tokenDistribution {
  .tokenDistributionHeading {
    margin: 0 0 36px;
  }

  .container {
    display: grid;
  }

  .tokenDistributionList {
    padding: 0;
    list-style-type: none;
    margin: 0;
    line-height: 1.2;
  }

  .tokenDistributionListItem {
    @each $colour, $name in $colours {
      $i: index($colours, $colour $name);
      &:nth-child(#{$i}) .tokenDistributionPrimaryData::before {
        background: $name;
      }
    }
    &:not(:last-child) {
      margin-bottom: 21px;
    }

    &:hover, &:focus {
      .tokenDistributionPrimaryData,
      .tokenDistributionecondaryData {
        color: #fff;
      }
    }
  }

  .tokenDistributionPrimaryData {
    color: #737074;
    margin-bottom: 6px;

    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 8px;
    }
  }

  .tokenDistributionecondaryData {
    color: #515151;
    padding-left: 27px;
    
    .fa {
      margin-right: 9px;
    }
  }

  .emphasis {
    font-weight: bold;
  }
}
