@import "styles/styles.scss";

.tokenSelect {
  .dropdown {
    width: 300px;
  }
  .tokenItem {
    display: flex;
    align-items: center;
    height: 23px;

    img, i {
      @include tokenIcon;
      position: relative;
      text-align: center
    }

    img {
      top: 2px;
    }

    i {
      margin-top: 2px;
    }

    > div:not(:last-child) {
      margin-right: 6px;
    }
  }
}
