@import "styles/styles.scss";

.tokenSelect {
  .dropdown {
    width: 300px;
  }
  .tokenItem {
    display: flex;
    align-items: center;
    height: 19px;

    img {
      @include tokenIcon;
      position: relative;
      top: 2px;
    }

    > div:not(:last-child) {
      margin-right: 6px;
    }
  }
}
