@import "styles/styles.scss";
.page.lbpDashboardContainer {
  .lbpDashboard {
    display: grid;
    grid-template-columns: 45% 20% 0 35%;
    grid-template-areas:
      "tokenInfo tokenInfo timeLeft timeLeft"
      "graph graph . form"
      "about about distribution distribution";

    column-gap: 32px;
    row-gap: 60px;

    .tokenInfo {
      grid-area: tokenInfo;
    }
    .timeLeft {
      grid-area: timeLeft;
    }
    .graph {
      grid-area: graph;
      border: 2px solid $Neutral02;
      height: 400px;
    }
    .form {
      grid-area: form;
    }
    .about {
      grid-area: about;
    }
    .distribution {
      grid-area: distribution;
    }
  }
}

@media screen and (max-width: 1475px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
    }
  }
}

@media screen and (max-width: 620px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
    }
  }
}

@media screen and (max-width: 420px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
    }
  }
}
