@import "styles/styles.scss";
.page.lbpDashboardContainer {
  .lbpDashboard {
    display: grid;
    grid-template-columns: 45fr 20fr 35fr;
    grid-template-areas:
      "tokenInfo timeLeft timeLeft"
      "graphForm graphForm graphForm"
      "details details ."
      "about about distribution"
      "statistics statistics statistics";

    // column-gap: 32px;
    row-gap: 60px;

    .tokenInfo {
      grid-area: tokenInfo;
    }
    .timeLeft {
      grid-area: timeLeft;
      justify-self: right;
    }
    .graphFormContainer {
      grid-area: graphForm;
      background-color: $BG02;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 730px 420px;
      grid-template-areas: "graph form";
      align-items: center;

      .graph {
        grid-area: graph;
        height: 400px;
        padding: 24px;
      }
      .form {
        grid-area: form;
        padding: 0 24px;
      }
    }

    .details {
      grid-area: details;
    }
    .about {
      grid-area: about;
    }
    .distribution {
      grid-area: distribution;
    }
    .statistics {
      grid-area: statistics;
    }

    &.notLive {
      grid-template-areas:
        "tokenInfo timeLeft timeLeft"
        "graph graph graph"
        "details details ."
        "about about distribution"
        "statistics statistics statistics";
    }
  }
}

@media screen and (max-width: 1480px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
      .graphFormContainer {
        grid-template-columns: 630px 420px;
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
      .graphFormContainer {
        grid-template-columns: 560px 420px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
      .graphFormContainer {
        grid-template-columns: 480px 420px;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
      grid-template-columns: auto;
      grid-template-areas:
        "tokenInfo"
        "timeLeft"
        "graphForm"
        "details"
        "distribution"
        "about"
        "statistics";
      justify-items: center;

      column-gap: 0;
      row-gap: 32px;

      .timeLeft {
        justify-self: center;
      }

      .graphFormContainer {
        background-color: unset;
        border-radius: none;
        grid-template-columns: auto;
        grid-template-areas: "form" "graph";
        justify-items: center;
        row-gap: 32px;

        .graph {
          width: calc(100vw - 320px);
          background-color: $BG02;
          border-radius: 10px;
        }

        .form {
          background-color: $BG02;
          border-radius: 10px;
          width: fit-content;
          padding: 24px;
        }
      }

      &.notLive {
        grid-template-areas:
          "tokenInfo"
          "timeLeft"
          "graph"
          "details"
          "distribution"
          "about"
          "statistics";
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
      .graphFormContainer {
        .graph {
          width: calc(100vw - 105px);
        }
      }
    }
  }
}
