@import "styles/styles.scss";
.page.lbpDashboardContainer {
  .lbpDashboard {
    .section.section2 {
      background-color: $BG01;
      display: flex;
      gap: 70px;
      flex-wrap: wrap;
      .spark-chart {
        max-width: 692px;
        width: 100%;
        height: 300px;
      }
      .form {
        width: 1fr;
      }
    }
  }
}

@media screen and (max-width: 1475px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
    }
  }
}

@media screen and (max-width: 620px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
    }
  }
}

@media screen and (max-width: 420px) {
  .page.lbpDashboardContainer {
    .lbpDashboard {
    }
  }
}
