@import "styles/colors.scss";

.headerButtons {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10%;
  align-items: center;
  font-family: "Inter";

  > .link {
    > a {
      color: $White;

      &:hover {
        color: $White;
        text-decoration: underline;
      }
    }
  }
}
