@import "styles/colors.scss";

.headerButtons {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10%;

  &.vertical {
    grid-template-columns: auto;
    column-gap: unset;
    row-gap: 12px;
  }

  > .link {
    > a {
      color: $White;

      &:hover {
        color: $White;
        text-decoration: underline;
      }
    }
  }
}
