@import "styles/colors.scss";
.appWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 76px 100fr 1fr;
  grid-template-areas:
    "logo header"
    "mainContent mainContent"
    "footer footer";
  height: 100vh;

  > .logo {
    grid-area: logo;
    background-color: $BG01;
    align-items: center;
    // just for vertical alignment of the logo
    display: flex;
    padding-left: 5rem;
    margin-right: 50px;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
  }

  .appHeader {
    grid-area: header;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding-right: 4rem;

    .networkfeedback {
      color: $White;
      margin-left: 10px;
      text-align: left;
      .testnet {
        color: $Shade01;
      }
    }

    /**
     * header connectButton
     */
    > .hConnectButton {
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    > .mobilemenuButton {
      display: none;
      padding-right: 24px;
      position: relative;
      top: 2px;
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .sidebarContainer {
    z-index: 9998; // so stays above model screen, below tooltips
    grid-area: sidebar;
    display: none;

    .sidebar {
      padding: 20px 0;

      .menuitems {
        margin-bottom: 20px;
        a.item {
          display: block;
          margin-bottom: 6px;
          padding: 14px 20px;
          cursor: pointer;

          &.active,
          &:hover {
            background-color: #9478ff;
            border-right: 6px solid #694ae2;
          }

          .text {
            display: flex;
            justify-items: center;

            img {
              width: 14px;
              padding-right: 16px;
            }
          }
        }

        .poolItems {
          > a.item {
            padding-top: 0;
            padding-bottom: 16px;

            > .text {
              font-size: 12px;
              display: flex;
              justify-items: center;

              > img {
                padding-left: 3px;
                padding-right: 19px;
                width: 9px;
              }
            }
          }

          > a.item:last-child {
            padding-bottom: 0;
          }
        }
      }
      /**
       * sidebar connect button
       */
      // > .connectButton {
      //   flex-grow: 2;
      //   padding-right: 20px;
      //   padding-top: 12px;
      //   padding-bottom: 12px;
      // }
    }
  }

  .mainContent {
    grid-area: mainContent;
    color: $White;

    .page {
      padding: 24px 20px;
    }
  }

  .appFooter {
    grid-area: footer;
    padding: 30px;
  }
}

@media screen and (max-width: 780px) {
  .appWrapper {
    &.showingMobileMenu {
      grid-template-columns: 1fr 100fr;
      grid-template-areas:
        "logo header"
        "sidebar sidebar";

      > .appFooter {
        display: none;
      }
    }

    .appHeader {
      > .hConnectButton {
        display: none;
      }
      > .mobilemenuButton {
        display: block;
      }
    }

    .sidebarContainer {
      &.showingMobileMenu {
        display: unset;
        width: 100%;
        text-align: center;
      }

      .sidebar {
        .sbConnectButton {
          margin-bottom: 26px;
        }

        .menuitems {
          a.item {
            padding-left: calc(50% - 80px);
            .text {
              justify-items: unset;
            }
          }
        }
      }
    }

    .mainContent {
      .page {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 16px;
      }
    }
  }
}
