@import "styles/colors.scss";
// this is just to preload to avoid css jitter when opening a dialog
@import "resources/dialogs/dialogs.scss";
.appWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 150px 100fr 1fr;
  grid-template-areas:
    "logo header"
    "mainContent mainContent"
    "footer footer";
  height: 100vh;

  .networkfeedback {
    font-family: Inter;
    color: $White;
    .testnet {
      color: $Shade01;
    }
  }

  > .logo {
    grid-area: logo;
    align-items: start;
    padding-top: 22px;
    // just for vertical alignment of the logo
    display: flex;
    margin-right: 50px;
    cursor: pointer;
    img {
      margin-right: 10px;
    }
  }

  .appHeader {
    grid-area: header;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;

    /**
     * header connectButton
     */
    > .headerConnectButton {
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    > .mobilemenuButton {
      display: none;
      position: relative;
      top: 2px;
      img {
        width: 32px;
        height: 32px;
      }
    }
    .networkfeedback {
      margin-left: 10px;
      text-align: left;
    }
  }

  .mobileMenuContainer {
    z-index: 997; // stay below modal screen
    grid-area: mobileMenu;
    display: none;

    .menu {
      padding: 20px 0;

      .menuitems {
        margin-bottom: 20px;
        a.item {
          display: block;
          margin-bottom: 6px;
          padding: 14px 20px;
          cursor: pointer;

          &.active,
          &:hover {
            background-color: #9478ff;
            border-right: 6px solid #694ae2;
          }

          .text {
            display: flex;
            justify-items: center;

            img {
              width: 14px;
              padding-right: 16px;
            }
          }
        }
      }
    }
  }

  .mainContent {
    grid-area: mainContent;
    color: $White;
    padding-bottom: 52px;
  }

  .appFooter {
    grid-area: footer;
    padding: 30px 0;
  }
}

@media screen and (max-width: 1072px) {
  .appWrapper {

    &.showingMobileMenu {
      position: fixed;
      width: calc(100% - 40px);
    }
    .appHeader, 
    .logo {
      z-index: 998;
      right: 20px;
    }
    .appHeader {
      .networkfeedback,
      .headerButtons,
      > .headerConnectButton {
        display: none;
      }
      > .mobilemenuButton {
        display: block;
      }
    }

    .mobileMenuContainer {
      position: fixed;
      display: unset;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 500px;
      height: 100vh;
      background: $BG02;
      text-align: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-out;
      padding-top: calc(50vh - 125px);
      &.showingMobileMenu {
        transform: translateX(0);
      }

      .menu {
        .networkfeedback {
          margin-bottom: 20px;
        }

        .mobileConnectButton {
          margin-bottom: 26px;
        }

        .menuitems {
          a.item {
            padding-left: calc(50% - 80px);
            .text {
              justify-items: unset;
            }
          }
        }
      }
    }
  }
}
