@import "styles/colors.scss";

.footerContainer {
  color: $subtext-color;

  .sections {
    display: flex;

    .section {
      margin-bottom: 48px;

      &:not(:last-child) {
        margin-right: 15%;
      }

      .title {
        color: $color-white;
        margin-bottom: 24px;
        font-size: 20px;
        white-space: nowrap;
      }

      &.about {
        .body {
          margin-bottom: 16px;
        }
      }

      a {
        color: $subtext-color;
      }
    }
  }
  > hr {
    margin-bottom: 30px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;

    .copyright {
      white-space: nowrap;
      display: flex;
      align-items: center;

      i {
        font-size: 26px;
        margin-right: 6px;
      }
    }

    .governedBy {
      display: flex;
      align-items: center;

      img {
        width: 24px;
        margin-left: 8px;
        margin-right: 8px;
      }
    }
    .socialLinks {
      display: flex;
      justify-content: space-evenly;

      a {
        display: inline-flex;
        img {
          width: 28px;
          border-radius: 14px;
        }

        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
  }
}
