@import "styles/colors.scss";

.footerContainer {
  color: $subtext-color;
  font-family: Inter;
  font-size: 14px;

  .sections {
    display: flex;

    .section {
      margin-bottom: 48px;

      &:not(:last-child) {
        margin-right: 15%;
      }

      .title {
        margin-bottom: 24px;
      }

      &.about {
        .body {
          margin-bottom: 16px;
        }
      }

      a {
        display: inline-block;
        color: $subtext-color;
        font-size: 14px;
        margin-bottom: 12px;
      }
    }
  }
  > hr {
    margin-bottom: 30px;
    background-color: $color-darkpink-2;
    height: 0.1rem;
  }
  .bottom {
    display: flex;
    justify-content: space-between;

    .copyright {
      white-space: nowrap;
      display: flex;
      align-items: center;

      i {
        font-size: 26px;
        margin-right: 6px;
      }
    }

    .governedBy {
      display: flex;
      align-items: center;

      img {
        width: 24px;
        margin-left: 8px;
        margin-right: 8px;
      }
    }
    .socialLinks {
      display: flex;
      justify-content: space-evenly;

      a {
        display: inline-flex;
        img {
          width: 28px;
          border-radius: 14px;
        }

        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
  }
}
