@import "styles/colors.scss";

.footerContainer {
  color: $Neutral02;
  font-family: Inter;
  font-size: 14px;

  .sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13rem;

    .footerLinks {
      display: flex;
    }

    .section {
      margin-bottom: 48px;

      > .title {
        margin-bottom: 24px;

        .menubutton {
          display: none;
        }
      }

      &.governedBy {
        display: none;
      }

      &.about {
        .body {
          margin-bottom: 42px;
          width: 360px;
          line-height: 140%;
        }
      }

      a {
        display: inline-block;
        color: $Neutral02;
        font-size: 14px;
        margin-bottom: 24px;
        margin-right: 40px;
      }
    }
  }
  > hr {
    margin-bottom: 40px;
    background-color: $Border01;
    height: 0.1rem;
  }
  .bottom {
    display: flex;
    justify-content: space-between;

    .copyright {
      white-space: nowrap;
      display: flex;
      align-items: center;

      img {
        margin-right: 6px;
      }
    }

    .governedBy {
      display: flex;
      align-items: center;
      gap: 1em;
    }
    .socialLinks {
      display: flex;
      justify-content: space-evenly;

      a {
        display: inline-flex;
        img {
          width: 28px;
          border-radius: 14px;
        }

        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    .privacy,
    .cookies {
      display: none;
    }
  }
}

@media screen and (max-width: 1280px) {
  .footerContainer {
    .sections {
      grid-template-columns: auto;
      gap: unset;

      .footerLinks {
        flex-direction: column;
        margin-bottom: 18px;

        .section {
          text-align: center;
          margin-bottom: 0;
          > .title {
            width: 100%;
            margin-bottom: 18px;
            cursor: pointer;
          }

          > .body {
            display: none;

            &.show {
              display: block;
            }
          }
        }
      }

      .section {
        > .title {
          .menubutton {
            display: inline-block;
            margin-left: 4px;
          }
        }

        &.governedBy {
          display: flex;
          justify-content: center;
          margin-bottom: 18px;
          .title {
            margin: auto;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 12px;
            align-items: center;
            font-size: 16px;
          }
        }

        &.about {
          display: none;
        }
      }
    }

    .bottom {
      display: grid;
      grid-template-columns: 33% 33% 34%;
      grid-template-areas:
        "socialLinks socialLinks socialLinks"
        "copyright privacy cookies";

      align-items: center;
      justify-content: space-around;
      text-align: center;
      row-gap: 24px;

      .copyright {
        grid-area: copyright;
        justify-content: center;
      }

      .governedBy {
        grid-area: governedBy;
        display: none;
      }

      .bottomGovernedBy {
        display: none;
      }

      .socialLinks {
        grid-area: socialLinks;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5, auto);
        column-gap: 16px;

        a {
          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }

      .privacy,
      .cookies {
        display: inline-block;
        a {
          color: $Neutral02;
        }
      }

      .privacy {
        grid-area: privacy;
      }

      .cookies {
        grid-area: cookies;
      }
    }
  }
}

@media screen and (max-width: 742px) {
  .footerContainer {
    .sections {
      .footerLinks {
        .section {
          > .body {
            &.show {
              display: grid;
              grid-template-columns: auto;
              row-gap: 4px;

              a {
                margin-bottom: 0;
                margin-right: 0;

                &:last-child {
                  margin-bottom: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
