@import "styles/styles.scss";

@mixin logo($url) {
  -webkit-mask: url("../../static/" + $url) no-repeat center;
  mask: url("../../static/" + $url) no-repeat center;
}

.footerContainer {
  .sections {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
    padding: 0 20px;
    color: $Border01;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;

    .section {
      &.governed-by,
      &.pages {
        a {
          color: $Secondary05;
          text-decoration: none;
          &:hover {
            color: $Neutral03;
          }
        }
      }

      &.governed-by {
        margin-right: 28px;
      }

      &.pages {
        justify-self: end;
        display: flex;
        gap: 20px;
        margin-left: auto;
      }

      &.social {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
          display: inline-flex;
          margin-inline-end: 12px;
          margin-block-start: 16px;
          margin-block-end: 16px;
          .website,
          .twitter,
          .discord,
          .telegram,
          .medium {
            width: 24px;
            height: 16px;
            background-color: $Secondary05;
            &:hover {
              background-color: $Neutral03;
            }
          }

          .website {
            @include logo("website.svg");
          }
          .twitter {
            @include logo("twitter.svg");
          }
          .discord {
            @include logo("discord.svg");
          }
          .telegram {
            @include logo("telegram.svg");
          }
          .medium {
            @include logo("medium.svg");
          }
        }
      }
    }
  }

  > hr {
    background-color: $Border01;
    height: 1px;
    margin-left: -$BodyPaddingLeftRight;
    margin-right: -$BodyPaddingLeftRight;
  }
}

@media screen and (max-width: 1072px) {
  > hr {
    margin-left: -$BodyPaddingLeftRightMobile;
    margin-right: -$BodyPaddingLeftRightMobile;
  }
}

@media screen and (max-width: 742px) {
  .footerContainer {
    .sections {
      justify-content: center;
      .pages {
        margin-right: auto;
      }
      padding-bottom: 20px;
    }
  }
}
