@import "styles/styles.scss";

.hamburger-menu-button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  transform: scale(1);
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $Primary01;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 5px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 11px;
    }

    &:nth-child(4) {
      top: 17px;
    }
  }

  &.is-open {
    span {
      &:nth-child(1) {
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        width: 0%;
        left: 50%;
      }
    }
  }
  z-index: 999;
}

.hamburger-menu {
  display: grid;
  grid-template-rows: 18px auto;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  // z-index: 998;
  right: 0;
  top: 0;
  background: $BG02;
  overflow: hidden;
  width: calc(100% - 40px);
  height: 100vh;
  transform: translate(calc(50vw - 29px), calc(-50% + 33px));  clip-path: circle(0%);
  transition: transform 0.2s ease-in-out, clip-path 0.3s ease-in-out;
  padding: 20px;

  &.is-open {
    clip-path: circle(100%);
    transform: translate(0, 0);
    .close-button {
      opacity: 1;
    }
  }

  .close-button {
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2s;
    opacity: 0;
    text-align: end;
  }
}
