@import "styles/styles.scss";
// This styles are common to all the stages components
// Theme for the stages

.dividerFundings {
  background-color: $Border03;
}

.footer-input {
  max-width: 100%;
}

.csvList {
  display: flex;
  align-items: end;

  .questionMark {
    line-height: 1;
    font-weight: normal
  }

  .csvLabelContent {
    margin-right: 15px;
  }
}

.content-block {
  border-top: 1px solid #a258a7;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.content-end-stage {
  border-top: 1px solid #a258a7;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

.content-classes {
  border-top: 1px solid #a258a7;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  margin-left: 100px;
  padding-top: 32px;
}

//#footer-date-content {
//
//}

.inline {
  display: flex;
  column-gap: 60px;
  flex-wrap: wrap;
}

.grid2cols {
  display: grid;
  grid-template-columns: 185px 185px;
}

@media screen and (max-width: 730px) {
  .content-block {
    grid-template-columns: 1fr;
  }
  .footer-input {
    max-width: 50%;
  }
  #footer-date-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 906px) {
  .content-classes {
    //border-top: 1px solid #a258a7;
    //display: grid;
    grid-template-columns: 1fr;
    margin-left: 0px;
  }
}

.form-content {
  margin-top: 32px;
}

.class-title {
  font-weight: 700;
  font-size: 26px;
  color: rgba(162, 88, 167, 1);
  margin-top: 32px;
}

.classes-description {
  width: 320px;
  color: rgba(220, 218, 229, 1);
  font-size: 16px;
  font-family: Inter;
}

.input-style {
  background-color: rgba(21, 19, 24, 1);
}

#open-adb {
  color: white;
  text-decoration: none;
}

@mixin boldButton {
  display: inline-block;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background-color: rgba(64, 52, 83, 1);
  color: $White;
  cursor: pointer;
}

.make-admin-button {
  @include boldButton;
  width: max-content;
}

.end-stage-subtext {
  line-height: 24px;
  font-size: 16px;
  color: $Neutral03;
  margin-bottom: 48px;
  margin-top: 32px;
}

.goodValue {
  margin-bottom: 16px;
  color: $Neutral02;
  line-height: 24px;
  margin-top: -5px;
}

.else-subtext {
  margin-top: 16px;
}

#add-social-link {
  color: rgba(147, 152, 168, 1);
  text-decoration: underline;
  font-family: Inter;
}

.classes-previous {
  margin-right: 21px;
}

.underline {
  text-decoration: underline
}

.classes-overview-container {
  background: $BG02;
  border: 2px solid $BG01;
  padding: 20px;
  border-radius: 10px;
  max-width: 645px;
}

.classes-overview-container__para {
  color: $AlertOrange;
  line-height: 24px;
  margin:0;
}

.classes-overview-container__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $Neutral04;

}

.classes-overview-container__table-container {
  background: $BG01;
  border-radius: 10px;
  padding: 4px;
}

.classes-overview-container__table {
  width: 100%;
  border-collapse:separate;
  font-size: 16px;
  border-spacing: 16px;
  border: none;
  tr, td {
    border: none;
  }
  th {
    color: $Secondary02;
    text-align: start;
    font-weight: 700;
  }
  td {
    font-weight: 400;
  }

  .table__edit-icon {
    cursor: pointer;
    height: 18px;
    width: 18px;
  }

  .table__center-cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.infoContainer {
  font-family: Inter;
  border-radius: 16px;
  padding: 24px;
  min-width: 640px;

  a {
    font-family: Aeonik;
  }

  .title {
    font-size: 26px;
  }
  .subtext {
    line-height: 24px;
    font-size: 16px;
    color: $Neutral03;
    margin-bottom: 48px;
    margin-top: 32px;
    max-width: 360px;
  }
  .infoInput {
    margin-bottom: 32px;
    &.withCounter {
      width: fit-content;
    }
    > textarea {
      resize: none;
      width: 368px;
      height: 72px;
      color: $Neutral02;
      border: 1px solid $Border01;
    }
    .labelContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      color: $Neutral02;
    }
  }
  label, .label {
    display: block;
    font-size: 17px;
    font-weight: 600;
    line-height: 32px;
    color: $Secondary02;
  }
  input {
    width: 368px;
    height: fit-content;
    border: 1px solid $Border01;
    border-radius: 10px;
    color: $Neutral02;
    padding: 5px 12px;
  }

  select {
    border: 1px solid $Border01;
    color: $Neutral02;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $Neutral02;
    transition: background-color 100s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 60px $BG01 inset;
    box-shadow: 0 0 0px 60px $BG01 inset;
    caret-color: $Neutral02;
  }
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: $Neutral02;
    transition: background-color 100s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 60px $BG01 inset;
    box-shadow: 0 0 0px 60px $BG01 inset;
  }

  a {
    color: $Neutral02;
  }

  .labeledQuestion {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
  }

  .questionMark {
    width: 20px;
    height: 20px;
    align-self: center;
  }

  .toggle-description {
    line-height: 24px;
    margin: 2px 0;
  }

  .importantText {
    font-weight: 800;
  }
}

.content-classes .infoContainer {
  padding: 0 0 0 24px;
}

.page.stageContainer, .content-classes {
  margin-bottom: 130px;
  &.stage1 {
    .infoContainer {
      .infoInput {
        &.category {
          .dropdown {
            width: 192px;
          }
        }
        .optional {
          padding-left: 0.48px;
          font-weight: 300;
        }
      }

      .otherLinks {
        display: flex;
        flex-flow: row wrap;
        gap: 16px;
        margin-bottom: 32px;
        align-items: center;

        .addLinkContainer {
          display: grid;
          grid-template-columns: auto auto auto;
          column-gap: 12px;
          align-items: center;

          .sMedia {
            .dropdown {
              width: 158px;
            }
          }

          input {
            width: 224px;
          }
          .deleteLink {
            cursor: pointer;
            justify-self: flex-end;
          }
          .addLink {
            cursor: pointer;
            padding-right: 16px;
            align-self: flex-start;
          }
        }
      }
      .addSingleLink {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 32px;
      }
    }
  }

  &.stage3,
  &.stage4 {
    .tickerContainer {
      display: flex;
      align-items: center;
      gap: 16px;
      .ticker {
        font-family: Inter;
        color: $Neutral02;
      }
      img {
        @include tokenIcon;
        border-radius: 12px;
        width: 24px;
        height: 24px;
        position: relative;
        top: 1px;
      }
    }
    .adminInputContainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 40px;
      margin-bottom: 16px;
    }

    .csvUploadInputContainer {

      .inlineWrapper {
        display:flex;
        align-items: center;
        gap: 15px;
      }

      .csvUploadPara {
        color: $Neutral02;
        margin: 10px 0;
      }

      input[id=allowList] {
        display: none;
      }

      .label {
        display: flex;
        width: 100%;
      }

      .csvInputWrapper {
        &:before {
          content: 'Browse';
          @include boldButton;
        }
      }

      .loadingAllowlist {
        display: inline-block;
        font-size: 18px;
        margin-left: 6px;
        i {
          color: $Primary01;
        }
      }

      .allowListFeedback {
        color: $Neutral02;
        margin-left: 6px;
        margin-top: 6px;

        &.bad {
          i {
            color: $AlertRed;
            margin-right: 6px;
          }
        }
      }
    }
    .button2 {
      margin-left: 0;
    }
    input#admin {
      margin-right: 15px;
    }
  }

  &.stage3 {
    .infoInput.supply {
      input {
        width: 112px;
        background-color: rgba(21, 19, 24, 1);
      }
    }
    .tickerContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .inputContainer {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 12px;
        align-items: center;

        .looksGood {
          color: $AlertGreen;
        }

        .loadingToken {
          font-size: 18px;
          i {
            color: $Primary01;
          }
        }
      }

      .looksBad {
        margin-left: 8px;
        white-space: normal;
        color: $Neutral02;
        i {
          color: $AlertRed;
          margin-right: 6px;
        }
      }

      .ticker {
        margin-left: 6px;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .projectTokenInfoFormContainer {
        .explanation,
        .fileNote {
          color: $Neutral02;
          line-height: 24px;
          margin-top: 10px;
        }

        .explanation {
          margin-bottom: 20px;
        }

        .tokenForm {
          .field {
            &:not(:last-of-type) {
              margin-bottom: 16px;
            }
            label {
              font-size: 14px;
              color: $White;
            }

            &.symbolInput,
            &.decimalInput {
              input {
                width: 100px;
              }
            }
            &.logoInput {
              label {
                display: grid;
                grid-template-columns: auto auto 160px;
                column-gap: 12px;
                align-items: center;
                justify-content: flex-start;

                img {
                  @include tokenIcon;
                  padding-bottom: 2px;
                }
                padding-bottom: 2px;
              }

              .inputNote {
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 16px;
                align-items: flex-start;
                justify-content: flex-start;
              }
            }

            &.presupplied {
              .inputElement {
                display: none;
              }
              .goodValue {
                display: unset;
              }
            }

            &:not(.presupplied) {
              &:not(.supplied) {
                label {
                  color: $AlertOrange;
                }
                .goodValue {
                  display: none;
                }
              }

              &.supplied {
                .goodValue {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .tokenDistribution {
      .columnHeaders {
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
      }

      .distribRowWrapper {
        display: inline-flex;
        gap: 10px;
        align-items: center;
      }

      .distribRow {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        margin-bottom: 16px;
        column-gap: 10px;
        .category {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          span {
            color: $Neutral02;
          }
        }
        .infoInput {
          margin-bottom: unset;
        }
        input {
          height: 36px;
        }
        input.textInput {
          height: 36px;
        }
        .deleteContainer {
          padding-top: 30px;
          display: flex;
          align-items: center;
        }
        .deleteLink {
          cursor: pointer;
          justify-self: flex-end;
        }
      }
    }
    .addLink {
      cursor: pointer;
      margin-top: 16px;
    }
  }

  &.stage4 {
    .infoInput {
      .tokenSelector {
        display: flex;
        align-items: center;

        .tokenSelect {
          margin-right: 16px;
          display: inline-block;
        }
      }

      .pptContainer,
      .tokenAmountContainer {
        > .text {
          display: inline-block;
          color: $Neutral02;
        }
        input {
          width: 72px;
          background-color: rgba(21, 19, 24, 1);
        }
        > label {
          align-self: center;
          -webkit-text-fill-color: $White;
          font-weight: 400;
        }
      }

      .tokenAmountContainer {
        display: grid;
        align-items: center;
        column-gap: 10px;
        grid-template-columns: auto auto auto;
        justify-content: start;
        > img {
          border-radius: 50%;
          width: 23px;
        }
        > .text {
          align-self: center;
        }
        .warning {
          color: $AlertOrange;
          font-size: small;
          width: 225px;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &.maxTarget {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        gap: 32px;

        &.maxTargetLabel label:not(.label) {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 5px;
          -webkit-text-fill-color: $White;
          font-weight: 400;
        }

        &.fundingTarget {
          flex-flow: column;

          .fundingDescrp {
            color: $Neutral02;
            max-width: 75%;
            margin: 0 0 15px 0;
          }

          .fundingTicker {
            display: flex;
            align-items: center;
            gap: 12px;

            .ticker {
              font-family: Inter;
              color: $Neutral02;
            }

            img {
              @include tokenIcon;
              border-radius: 12px;
              width: 24px;
              position: relative;
              top: 1px;
            }
          }
          input {
            background-color: rgba(21, 19, 24, 1);
          }
        }
      }
      .vestingPeriod,
      .seedTipping {
        width: 176px;
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        gap: 0;
        input {
          width: 80px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        > div {
          width: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $Border01;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .vestingDatesContainer {
        display: grid;
        column-gap: 16px;
        grid-template-columns: auto auto;

        .startTimeInput,
        .endTimeInput {
          .inputIcon {
            cursor: default;
          }
        }
      }

      .vestingDates,
      .seedTipping {
        width: 176px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 0;

        input {
          width: 112px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0px;
        }
        .inputIcon {
          width: 47px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $BG01;
          border: 1px solid $Border01;
          border-left: 0px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          z-index: 1;
          cursor: pointer;
          > i {
            font-size: 22px;
          }
        }
      }

      .seedTipping {
        width: 104px;
        margin-bottom: 80px;

        input {
          width: 57px;
        }
        > div {
          width: 47px;
        }
      }
    }
    .checkboxContainer {
      width: 60px;
      height: 32px;
      border: 1px solid #2a2a2a;
      border-radius: 23px;
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      background: $Gradient01;
      cursor: pointer;
      &.isInactive {
        background: $Secondary05;
      }
      i.yes {
        position: absolute;
        left: 10px;
        color: black;
        font-weight: 800;
      }
      i.no {
        position: absolute;
        right: 10px;
        color: black;
        font-weight: 800;
      }
      .checkbox {
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        > input {
          width: 28px;
          height: 28px;
          visibility: hidden;
          position: absolute;
          &:checked + label {
            left: 28px;
          }
        }
        & label {
          display: block;
          width: 22px;
          height: 22px;
          position: absolute;
          left: 4px;
          background: white;
          border-radius: 50%;
          transition: all 0.3s ease;
          border: 2px solid black;
          cursor: pointer;
        }
      }
    }

    .launchPreview {
      border-radius: 10px;
      padding: 20px;
      margin-top: 16px;
      background-color: $BG01;
      h3 {
        font-family: "Aeonik";
        font-size: 24px;
        font-weight: 800;
        color: $Secondary02;
        line-height: 22px;
        margin: 0;
      }
    }
  }

  &.stage5 {
    .infoContainer {
      & textarea {
        height: 112px;
      }
    }
  }

  &.stage6 {
    .infoContainer {
      label {
        font-size: 16px;
      }
    }
    .infoInput {
      margin-bottom: 0px;
    }
    .checkboxContainer {
      width: 60px;
      height: 32px;
      border: 1px solid #2a2a2a;
      border-radius: 23px;
      position: relative;
      display: flex;
      align-items: center;
      background: $Gradient01;
      cursor: pointer;
      &.isInactive {
        background: $Secondary05;
      }
      /* Note: Only on stage 6! */
      &, * {
        cursor: not-allowed;
      }
      i.yes {
        position: absolute;
        left: 10px;
        color: black;
        font-weight: 800;
      }
      i.no {
        position: absolute;
        right: 10px;
        color: black;
        font-weight: 800;
      }
      .checkbox {
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        > input {
          width: 28px;
          height: 28px;
          visibility: hidden;
          position: absolute;
          &:checked + label {
            left: 28px;
          }
        }
        & label {
          display: block;
          width: 22px;
          height: 22px;
          position: absolute;
          left: 4px;
          background: white;
          border-radius: 50%;
          transition: all 0.3s ease;
          border: 2px solid black;
        }
      }
    }
    .infoContainer {
      .summaryContainer {
        .heading4 {
          font-size: 16px;
        }
        .classes-overview-container {
          margin-top: 0px;
        }
        word-break: break-word;
        > .heading.heading3 {
          margin-bottom: 20px;
        }
        a{
          color: white;
        }
        .stageLaunchDetails {
          display: grid;
          gap: 10px;
          margin-bottom: 30px;
          font-size: 16px;
          color: white;

          .tokenAmountContainer {
            display: flex;

            .tokenAmount {
              padding-right: 8px;
              display: inline-block;
            }
          }

          .customLinks {
            grid-template-columns: 0.4fr 1fr;
          }
          .tokenDist {
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }
          .customLinks,
          .tokenDist {
            display: grid;
            row-gap: 2px;
            grid-template-rows: auto;
            .header {
              font-size: 12px;
              color: $Neutral03;
            }

            .cell {
              margin-bottom: 10px;
            }
          }

          hr {
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: $Shade03;
          }
        }
      }
    }
  }

  &.stage7 {
    .infoContainer {
      .body {
        line-height: 24px;
        font-size: 16px;
        color: $Neutral03;
        margin-bottom: 24px;
      }
    }
  }

  &.stage8 {
    .wrappedLink {
      white-space: normal;
      word-break: break-all;
    }

    & .linksContainer {
      display: flex;
      flex-flow: column;
      gap: 32px;
      > div {
        > a {
          color: $Neutral03;
        }
        > i {
          color: $Secondary02;
        }
      }
      .closeButton {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 107px;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .infoContainer {
    min-width: unset;
    .infoInput {
      > textarea {
        width: 90%;
      }
      & > input {
        width: 90%;
        height: unset;
      }
      .labelContainer {
        width: unset;
      }
    }
    .labeledQuestion {
      label {
        margin-bottom: unset;
      }
      margin-bottom: 6px;
    }
    > .heading.heading2 {
      font-size: 26px;
    }
    label,
    span {
      line-height: 20px;
      margin-bottom: 5px;
    }

    #geoBlock + label {
      margin-bottom: unset;
    }
    .summaryContainer {
      margin-bottom: 30px;
      word-break: break-word;

      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  .page.stageContainer,.content-classes {
    &.stage1 {
      .infoContainer {
        .otherLinks {
          gap: unset;

          .addLinkContainer {
            grid-template-columns: auto auto;
            grid-template-areas:
              "dropdown dropdown"
              "input delete";
            .sMedia {
              grid-area: dropdown;
              margin-bottom: 8px;
            }

            & > input {
              grid-area: input;
              width: unset;
              height: unset;
            }

            .delete {
              grid-area: delete;
            }
          }
        }
      }
    }

    &.stage2 {
      .logo {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        column-gap: 0;
        row-gap: 8px;
      }
      .fileNote {
        padding-left: 8px;
      }
    }

    &.stage3 {
      .tickerContainer {
        .projectTokenInfoFormContainer {
          .tokenForm {
            .field {
              &.logoInput {
                .inputNote {
                  grid-template-columns: auto;
                }
              }
            }
          }
        }
      }
    }

    &.stage4 {
      .infoInput {
        &.admin {
          > input {
            margin-bottom: 8px;
          }
        }
      }
      .adminInputContainer {
        & > input#admin {
          width: 90%;
          margin-bottom: 8px;
        }
      }

      .button2 {
        margin-top: 7px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .page.stageContainer,
  .content-classes {
    &.stage4 {
      .infoInput {
        .pptContainer {
          > .text:first-of-type {
            display: block;
          }
        }

        .tokenSelector {
          align-items: center;

          .tokenSelect {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 705px) {
  .page.stageContainer.stage3 .tokenDistribution .distribRow {
    column-gap: 84px;
    max-width: 394px;
  }
  .page.stageContainer.stage3 .tokenDistribution .distribRow .deleteContainer {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 523px) {
  .page.stageContainer.stage3 .tokenDistribution .distribRow {
    column-gap: 10px;
  }
}
