@import "styles/styles.scss";
// This styles are common to all the stages components
// Theme for the stages
.infoContainer {
  font-family: Inter;
  background-color: $BG02;
  border: 1px solid $Border01;
  border-radius: 16px;
  padding: 24px;
  min-width: 640px;

  a {
    font-family: Aeonik;
  }

  .title {
    font-size: 26px;
  }
  .subtext {
    line-height: 24px;
    font-size: 16px;
    color: $Neutral03;
    margin-bottom: 48px;
  }
  .infoInput {
    margin-bottom: 32px;
    &.withCounter {
      width: fit-content;
    }
    > textarea {
      resize: none;
      width: 368px;
      height: 72px;
      color: $Neutral02;
      border: 1px solid $Border01;
    }
    .labelContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      color: $Neutral02;
    }
  }
  .buttonContainer {
    display: flex;
    flex-flow: row wrap;
    column-gap: 48px;
    margin-top: 80px;
    .stageButton {
      display: flex;
      align-items: center;
    }
    .cancel {
      cursor: pointer;
      color: $Shade01;
      font-family: Inter;
      font-weight: 600;
    }
  }
  .stageButton {
    display: flex;
    align-items: center;
  }
  label {
    display: block;
    font-size: 17px;
    font-weight: 600;
    line-height: 32px;
    color: $Secondary02;
  }
  input {
    width: 368px;
    height: fit-content;
    border: 1px solid $Border01;
    border-radius: 10px;
    color: $Neutral02;
    padding: 5px 12px;
  }

  select {
    border: 1px solid $Border01;
    color: $Neutral02;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $Neutral02;
    transition: background-color 100s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 60px $BG01 inset;
    box-shadow: 0 0 0px 60px $BG01 inset;
    caret-color: $Neutral02;
  }
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: $Neutral02;
    transition: background-color 100s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 60px $BG01 inset;
    box-shadow: 0 0 0px 60px $BG01 inset;
  }

  a {
    color: $Neutral02;
  }
  .labeledQuestion {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
  }
  .questionMark {
    width: 20px;
    height: 20px;
    align-self: center;
  }
  .importantText {
    font-weight: 800;
  }
}

.page.stageContainer {
  &.stage1 {
    .infoContainer {
      .infoInput {
        &.category {
          .dropdown {
            width: 192px;
          }
        }
        .optional {
          padding-left: 0.48px;
          font-weight: 300;
        }
      }

      .otherLinks {
        display: flex;
        flex-flow: row wrap;
        gap: 16px;
        margin-bottom: 32px;
        align-items: center;

        .addLinkContainer {
          display: grid;
          grid-template-columns: auto auto auto;
          column-gap: 12px;
          align-items: center;

          .sMedia {
            .dropdown {
              width: 158px;
            }
          }

          input {
            width: 224px;
          }
          .deleteLink {
            cursor: pointer;
            justify-self: flex-end;
          }
          .addLink {
            cursor: pointer;
            padding-right: 16px;
            align-self: flex-start;
          }
        }
      }
      .addSingleLink {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 32px;
      }
    }
  }

  &.stage3,
  &.stage4 {
    .tickerContainer {
      display: flex;
      align-items: center;
      gap: 16px;
      .ticker {
        font-family: Inter;
        color: $Neutral02;
      }
      img {
        @include tokenIcon;
        border-radius: 12px;
        width: 24px;
        position: relative;
        top: 1px;
      }
    }
  }

  &.stage3 {
    .infoInput.supply {
      input {
        width: 112px;
      }
    }
    .tickerContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .inputContainer {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 12px;
        align-items: center;

        .looksGood {
          color: $AlertGreen;
        }

        .loadingToken {
          font-size: 18px;
          i {
            color: $Secondary03-dev;
          }
        }
      }

      .looksBad {
        margin-left: 8px;
        white-space: normal;
        color: $Neutral02;
        i {
          color: $AlertRed;
          margin-right: 6px;
        }
      }

      .ticker {
        margin-left: 6px;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .projectTokenInfoFormContainer {
        margin-left: 8px;
        .explanation,
        .fileNote {
          color: $Neutral02;
          line-height: 24px;
        }

        .explanation {
          margin-bottom: 20px;
        }

        .tokenForm {
          .field {
            margin-left: 8px;
            &:not(:last-of-type) {
              margin-bottom: 16px;
            }
            label {
              font-size: 14px;
              color: $White;
            }

            &.symbolInput,
            &.decimalInput {
              input {
                width: 100px;
              }
            }
            &.logoInput {
              label {
                display: grid;
                grid-template-columns: auto auto 160px;
                column-gap: 12px;
                align-items: center;
                justify-content: flex-start;

                img {
                  @include tokenIcon;
                  padding-bottom: 2px;
                }
                padding-bottom: 2px;
              }

              .inputNote {
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 16px;
                align-items: flex-start;
                justify-content: flex-start;
              }
            }

            .goodValue {
              display: none;
              color: $Neutral02;
            }

            &.presupplied {
              .inputElement {
                display: none;
              }
              .goodValue {
                display: unset;
              }
            }

            &:not(.presupplied) {
              &:not(.supplied) {
                label {
                  color: $AlertOrange;
                }
              }
            }
          }
        }
      }
    }
    .tokenDistribution {
      .columnHeaders {
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
      }
      .distribRow {
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        justify-content: space-between;
        margin-bottom: 32px;
        column-gap: 10px;
        .category {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          span {
            color: $Neutral02;
          }
        }
        .infoInput {
          margin-bottom: unset;
        }
        input {
          height: 36px;
        }
        input.textInput {
          height: 36px;
        }
        .deleteLink {
          cursor: pointer;
          justify-self: flex-end;
        }
      }
    }
    .addLink {
      cursor: pointer;
    }
  }

  &.stage4 {
    .infoInput {
      .tokenSelector {
        display: flex;
        align-items: center;

        .tokenSelect {
          margin-right: 16px;
          display: inline-block;
        }
      }

      .pptContainer,
      .tokenAmountContainer {
        > .text {
          display: inline-block;
          color: $Neutral02;
        }
        input {
          width: 72px;
        }
        > label {
          align-self: center;
          -webkit-text-fill-color: $White;
          font-weight: 400;
        }
      }

      .tokenAmountContainer {
        display: grid;
        align-items: center;
        column-gap: 10px;
        grid-template-columns: auto auto auto;
        justify-content: start;
        > img {
          border-radius: 50%;
          width: 23px;
        }
        > .text {
          align-self: center;
        }
        .warning {
          color: $AlertOrange;
          font-size: small;
          width: 225px;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &.maxTarget {
        input {
          width: 136px;
        }
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        gap: 32px;
        &.maxTargetLabel label {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 5px;
          -webkit-text-fill-color: $White;
          font-weight: 400;
        }
        &.fundingTarget {
          flex-flow: column;
          .fundingDescrp {
            margin-bottom: 10px;
            color: $Neutral02;
          }
          .fundingTicker {
            display: flex;
            align-items: center;
            gap: 12px;
            .ticker {
              font-family: Inter;
              color: $Neutral02;
            }
            img {
              @include tokenIcon;
              border-radius: 12px;
              width: 24px;
              position: relative;
              top: 1px;
            }
          }
        }
      }
      .vestingPeriod {
        width: 176px;
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        gap: 0;
        input {
          width: 80px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        > div {
          width: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $Border01;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .vestingDatesContainer {
        display: grid;
        column-gap: 16px;
        grid-template-columns: auto auto;
      }

      .vestingDates {
        width: 176px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 0;

        input {
          width: 112px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0px;
          cursor: pointer;
        }
        .inputIcon {
          width: 47px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $BG01;
          border: 1px solid $Border01;
          border-left: 0px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          z-index: 1;
          cursor: pointer;
          > i {
            font-size: 22px;
          }
        }
      }

      &.admin {
        > input {
          width: 240px;
          margin-right: 6px;
        }

        .button2.small {
          text-transform: none;
          position: relative;
          bottom: 4px;
        }
      }
    }
    .whitelistContainer {
      .loadingWhitelist {
        display: inline-block;
        font-size: 18px;
        margin-left: 6px;
        i {
          color: $Secondary03-dev;
        }
      }

      .whiteListFeedback {
        color: $Neutral02;
        margin-left: 6px;
        margin-top: 6px;

        &.bad {
          i {
            color: $AlertRed;
            margin-right: 6px;
          }
        }
      }
    }
    .checkboxContainer {
      width: 60px;
      height: 32px;
      border: 1px solid #2a2a2a;
      border-radius: 23px;
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      background: $Gradient01;
      cursor: pointer;
      &.isInactive {
        background: $Secondary05;
      }
      i.yes {
        position: absolute;
        left: 10px;
        color: black;
        font-weight: 800;
      }
      i.no {
        position: absolute;
        right: 10px;
        color: black;
        font-weight: 800;
      }
      .checkbox {
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        > input {
          width: 28px;
          height: 28px;
          visibility: hidden;
          position: absolute;
          &:checked + label {
            left: 28px;
          }
        }
        & label {
          display: block;
          width: 22px;
          height: 22px;
          position: absolute;
          left: 4px;
          background: white;
          border-radius: 50%;
          transition: all 0.3s ease;
          border: 2px solid black;
          cursor: pointer;
        }
      }
    }

    .launchPreview {
      display: inline-grid;
      width: -webkit-fill-available;
      width: -moz-available;
      grid-template-rows: 22px auto;
      row-gap: 20px;
      min-height: 203px;
      border-radius: 10px;
      padding: 20px;
      margin-top: 16px;
      background-color: $BG01;
      h3 {
        font-family: "Aeonik";
        font-size: 24px;
        font-weight: 800;
        color: $Secondary02;
        line-height: 22px;
        margin: 0;
      }
    }
  }

  &.stage5 {
    .infoContainer {
      & textarea {
        height: 112px;
      }
    }
  }

  &.stage6 {
    .infoContainer {
      .summaryContainer {
        margin-bottom: 40px;
        word-break: break-word;
        > .heading.heading3 {
          margin-bottom: 20px;
        }
        .stageLaunchDetails {
          display: grid;
          gap: 10px;
          margin-bottom: 20px;
          font-size: 18px;
          color: $Neutral02;

          .tokenAmountContainer {
            display: flex;

            .tokenAmount {
              padding-right: 8px;
              display: inline-block;
            }
          }

          .customLinks {
            grid-template-columns: 0.4fr 1fr;
          }
          .tokenDist {
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }
          .customLinks,
          .tokenDist {
            display: grid;
            row-gap: 2px;
            grid-template-rows: auto;
            .header {
              font-size: 12px;
              color: $Neutral03;
            }

            .cell {
              margin-bottom: 10px;
            }
          }

          hr {
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: $Shade03;
          }
        }
        &:not(:first-child) {
          margin-top: 40px;
        }
      }
    }
  }

  &.stage8 {
    & .linksContainer {
      display: flex;
      flex-flow: column;
      gap: 32px;
      > div {
        > a {
          color: $Neutral03;
        }
        > i {
          color: $Secondary02;
        }
      }
      .closeButton {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 107px;
      }
    }
  }
}

@media screen and (max-width: 782px) {
  .infoContainer {
    min-width: unset;
    .infoInput {
      > textarea {
        width: 90%;
      }
      & > input {
        width: 90%;
        height: unset;
      }
      .labelContainer {
        width: unset;
      }
    }
    .labeledQuestion {
      label {
        margin-bottom: unset;
      }
      margin-bottom: 6px;
    }
    > .heading.heading2 {
      font-size: 26px;
    }
    label,
    span {
      line-height: 20px;
      margin-bottom: 5px;
    }

    #geoBlock + label {
      margin-bottom: unset;
    }
    .summaryContainer {
      margin-bottom: 30px;
      word-break: break-word;

      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  .page.stageContainer {
    &.stage1 {
      .infoContainer {
        .otherLinks {
          gap: unset;

          .addLinkContainer {
            grid-template-columns: auto auto;
            grid-template-areas:
              "dropdown dropdown"
              "input delete";
            .sMedia {
              grid-area: dropdown;
              margin-bottom: 8px;
            }

            & > input {
              grid-area: input;
              width: unset;
              height: unset;
            }

            .delete {
              grid-area: delete;
            }
          }
        }
      }
    }

    &.stage2 {
      .logo {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        column-gap: 0;
        row-gap: 8px;
      }
      .fileNote {
        padding-left: 8px;
      }
    }

    &.stage3 {
      .tickerContainer {
        .projectTokenInfoFormContainer {
          .tokenForm {
            .field {
              &.logoInput {
                .inputNote {
                  grid-template-columns: auto;
                }
              }
            }
          }
        }
      }
    }

    &.stage4 {
      .infoInput {
        &.admin {
          > input {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .page.stageContainer {
    &.stage4 {
      .infoInput {
        .pptContainer {
          > .text:first-of-type {
            display: block;
          }
        }

        .tokenSelector {
          align-items: center;

          .tokenSelect {
            margin-right: 0;
          }
        }
      }
    }
  }
}
