@import "styles/colors.scss";

.line {
  position: absolute;
  display: block;
  min-width: 12ch;
  max-width: 100px;
  height: 3px;
  content: '';
  z-index: 0;
  background-color: $Border01;
}

.newLaunchContainer {
  justify-items: center;
  background-color: $BG01;

  &.stage8 {
    grid-template-columns: 1fr;

    .currentStageSidebar {
      display: none;
    }
  }

  .sideBarDropDownContainer {
    display: none;
    cursor: pointer;

    .sideBarDropDown {
      font-family: Inter;
      color: $Secondary02;
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 32px;
    }
  }

  .currentStageSidebar {
    line-height: 22px;
    font-size: 18px;
    font-family: Inter;
    font-weight: 300;
    color: $Neutral02;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .currentstage {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgba(64, 52, 83, 1);
      margin-right: 25px;
      z-index: 1;
    }

    .active {
      color: rgba(162, 88, 167, 1);
    }

    .stagesNumber {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: $Neutral04;

      .circledNumber {
        background-color: rgba(64, 52, 83, 1);
      }
    }

    .stagesNumber:hover {
      .circledNumber {
        background-color: $Neutral04;
      }

      color: $Neutral04;
    }

    .title {
      font-size: 18px;
      font-weight: 400;
      font-family: Inter;
      text-align: center;
      padding: 10px 0;
    }

    .stageActive {
      .circledNumber {
        background-color: rgba(162, 88, 167, 1);
      }
    }
  }

  @media screen and (max-width: 730px) {
    .currentStageSidebar {
      flex-direction: column;
    }
    .line {
      display: none;
    }
  }
}
