@import "styles/colors.scss";
.newLaunchContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  background-color: $BG01;
  &.stage8 {
    grid-template-columns: 1fr;
    .currentStageSidebar {
      display: none;
    }
  }
  .sideBarDropDownContainer {
    display: none;
    cursor: pointer;
    .sideBarDropDown {
      font-family: Inter;
      color: $Secondary02;
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 32px;
    }
  }
  .currentStageSidebar {
    line-height: 2rem;
    font-size: 1.125rem;
    font-family: Inter;
    font-weight: 300;
    color: $Neutral02;
    padding: 5rem 1rem;
    .currentstage {
      cursor: pointer;
    }
    .active {
      color: $Secondary02;
    }
    .stagesNumber {
      display: flex;
      gap: 1em;
      flex-flow: row nowrap;
      align-items: center;
    }
    .timeLine {
      width: 2.6em;
      height: 1.3em;
      display: grid;
      justify-content: center;
      padding-top: 0.15em;
      padding-bottom: 0.15em;
      .ruler {
        width: 0.23em;
        height: 1.3em;
        background-color: $Neutral02;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .newLbpContainer {
    grid-template-columns: unset;
    .sideBarDropDownContainer {
      display: block;
    }
    &.stage8 {
      .sideBarDropDown {
        display: none;
      }
    }
    .currentStageSidebar {
      line-height: 16px;
      font-size: 16px;
      padding-top: unset;
      padding-bottom: 32px;
      display: none;
      .timeLine {
        width: 40px;
        height: 3px;
        display: grid;
        justify-content: center;
        .ruler {
          width: 4px;
          height: 4px;
          background-color: $Neutral02;
        }
      }
    }
    .currentStageSidebar.show {
      display: block;
    }
  }
}
