@import "styles/styles.scss";

.dropdown {
  border: 1px solid $Border01;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  background: $BG01;
  color: $Neutral02;
  border-radius: 10px;
  font-family: Inter;
  width: fit-content;
  height: fit-content;
  position: relative;
  &:focus-within, &:active, &.menuShowing {
    border-color: $Secondary02;
  }
  > .selectedLabel {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 11px;
    margin-right: 0;

    .itemContent {
      margin-right: 8px;
    }

    div.el-icon-arrow {
      margin-right: 0.7em;
      transition: all 0.3s;
    }
  }

  &.menuShowing{
    border-radius: 10px 10px 0 0;
    &>.selectedLabel {
      .el-icon-arrow {
        transform: rotate(-180deg);
      }
    }
  }

  > .menu {
    // border-top: 1px solid $Border01;
    // transition: max-height 0.5s ease-out;
    // overflow: hidden;
    // cursor: pointer;
    transition: all 0.16s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    width: inherit;
    background: #1b1722;
    border: 1px solid #a258a7;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #403453;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 25%);
    left: -1px;
    z-index: 1;
    opacity: 1;
    height: fit-content;
    transform: scaleY(1);
    transform-origin: top;

    &.hide {
      // doing it this way retains the width, for sizing the dropdown
      // visibility: hidden;
      transform: scaleY(0);
      border-radius: 10px;
      border-top: unset;
      opacity: 0;
    }

    > .option {
      color: $Neutral04;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding: 12px;
    }

    > .option:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    > .option:hover {
      background: $Border01;
    }
  }
}

.rotate-90 {
  transform: rotate(90deg);
}
